@model StayBazar.Areas.Admin.Models.MargintrackingReportModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Filter", "MargintrackingReport", FormMethod.Post, new { @id = "frmFiltersSupplierPayment" }))
        {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.FromDate)
                    @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", Title = "From Date" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.ToDate)
                <div class="input-group ">
                    @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control ", Title = " Date" })
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-default" type="button" tabindex="3">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <br />

                <a title="Print" href=" #" onclick="printDoc()" id="btnNextClick" class="fa fa-print white-color fa-2x" tabindex="6"> </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a title="Pdf" href="#" onclick="PDF()" id="btnNextClick" class="fa fa-print red-color fa-2x" tabindex="6"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a title="Export" onclick="Export()" id="btnNextClick" class="fa fa-print green-color fa-2x" tabindex="6"></a>

            </div>
           
            </div>
            @Html.HiddenFor(m => m.SearchValue)
            }

        </div>
</div>
<script type="text/javascript">

    $(function () {
        //$('#FromDate').datepicker(
        //    {
        //        dateFormat: "dd/mm/yy"
        //    });
        //$('#ToDate').datepicker(
        //    {
        //        dateFormat: "dd/mm/yy"
        //    });       
        $('#FromDate').datepicker(
            {
                dateFormat: "dd/mm/yy"
            });
        $('#ToDate').datepicker(
            {
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                beforeShow: function () {
                    $(this).datepicker('option', 'minDate', $('#FromDate').val());
                    if ($('#FromDate').val() === '') $(this).datepicker('option', 'minDate', 0);
                }
            });
    });

        $("#btnSearch").click(function () {
            var url = '@Url.Action("Filter", "MargintrackingReport", new { area = "Admin" })';
          // alert("hai");
            $.post(url, $("#frmFiltersSupplierPayment").serialize(),
                    function (data) {
                        $("#GrossMarrginList").html(data);
                        $("#wtopbar").width($("#bodybox").width());
                    });
        });
    function PDF() {
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        //alert(pfromdate);
        //alert(pToDate);
        //alert(pLimit);
        //alert(pcurrentPage);
        var url = '@Url.Action("ReportPdf", "MargintrackingReport")?' + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
    function Export() {
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        window.location = '@Url.Action("ExcelReport", "MargintrackingReport", new { Area = "Admin" })?' + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        //window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }

    function printDoc() {
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        //alert(pfromdate);
        //alert(pToDate);
        //alert(pLimit);
        //alert(pcurrentPage);
        var url = '@Url.Action("ReportPrint", "MargintrackingReport")?' + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
</script>

