@model StayBazar.Areas.Admin.Models.ReportDailyPropertyBookingModel
@{
    Layout = null;
}
<link href="~/Content/multiple-select.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Filter", "ReportDailyInventoryAndBooking", FormMethod.Post, new { @id = "frmFiltersReportDailyInventoryAndBooking", onsubmit = "return runSearch();" }))
        {
            <div class="row ">
                <div class="col-md-3">
                    @Html.HiddenFor(m => m.SupplierId) @Html.HiddenFor(m => m.PropertyId)
                    <input type="button" onclick="browseSupplier()" value="Choose Supplier" class="btn btn-default" />
                    @*<span id="suppliername">Choose a supplier</span>*@
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("properties", new MultiSelectList(Model.PropertyList, "PropertyId", "Title", Model.SelectedProperty.Select(m => m.PropertyId)), new { multiple = "multiple", @id = "properties" })
                    @*<select id="properties" class="form-control">
                        <option value="0">All</option>
                    </select>*@
                </div>
                <div class="col-md-2" style="width: 142px;">
                    @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", Title = "Date" })
                </div>
                <div class="col-md-2" style="width: 180px;">
                    <div class="input-group">
                    @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", Title = "Date" })
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-default" type="button" tabindex="3">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
                <div class="col-md-2 exporticons">
                    <a title="Print" href="#" onclick="printDoc()" id="btnNextClick" class="fa fa-print white-color fa-2x"> </a>
                    <a title="Pdf" href="#" onclick="PDF()" id="btnNextClick" class="fa fa-file-pdf-o"></a>
                    <a title="Export" href="#" onclick="Export()" id="btnNextClick" class="fa fa-file-excel-o"></a>
                </div>
        </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.multiple.select.js"></script>
<script type="text/javascript">
    $("#properties").multipleSelect({
        placeholder: "Select",
        width: "100%"
    });
    function browseSupplier() {
        $('#chooseCorporate').modal('show');
    }
    function corpSelected(corpId) {
        $("#suppliername").html($("#corpname_" + corpId).html());
        $("#SupplierId").val(corpId);
        $('#chooseCorporate').modal('hide');
        $.get('@Url.Action("GetProperties", "ReportDailyPropertyBookings", new { Area = "Admin" })?supplierId=' + corpId, function (data) {
            if (data != "") {
                $("#DetailsInventoryAndBooking").html(data);
            }
        });
    }

    $(function () {
        //$('#FromDate').datepicker({
        //    dateFormat: "dd/mm/yy"
        //});
        //$('#ToDate').datepicker({
        //    dateFormat: "dd/mm/yy"
        //});
        $('#FromDate').datepicker(
            {
                dateFormat: "dd/mm/yy"
            });
        $('#ToDate').datepicker(
            {
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                beforeShow: function () {
                    $(this).datepicker('option', 'minDate', $('#FromDate').val());
                    if ($('#FromDate').val() === '') $(this).datepicker('option', 'minDate', 0);
                }
            });

    });
    $("#btnSearch").click(function () {
      
        var url = '@Url.Action("Filter", "ReportDailyPropertyBookings", new { area = "Admin" })?' + "properties=" + $("#properties").val();
        // alert($("#frmFiltersForDailyBooking").serialize());
        $.post(url, $("#frmFiltersReportDailyInventoryAndBooking").serialize(),
                function (data) {
                    // aler(data);
                    $("#DailyInventoryAndBookingList").html(data);
                });
        runSearch();
    });

    function runSearch() {
        return true;
    }


    function PDF() {
       
        var pfromdate = $("#FromDate").val();
        var ptodate = $("#ToDate").val();
        //    var pLimit = $("#Limit").val();
        //    var pcurrentPage = $("#currentPage").val();
        var pSupplierId = $("#SupplierId").val();
        var formdata = $("#frmFiltersReportDailyInventoryAndBooking").serialize();
        var url = '@Url.Action("ReportPdf", "ReportDailyPropertyBookings")?' + "fromDate=" + pfromdate + "&toDate=" + ptodate + "&propertyId=" + $("#PropertyId").val() + "&supplierId=" + pSupplierId + "&list=" + $("#properties").val();
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");

        //$.get(url, $("#frmFiltersReportDailyInventoryAndBooking").serialize(), function (data) {
        //    if (data != "") {
        //        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
        //    }
        //});
    }
    function Export() {
        var pfromdate = $("#FromDate").val();
        var ptodate = $("#ToDate").val();
        var pSupplierId = $("#SupplierId").val();
        var url = '@Url.Action("ExcelReport", "ReportDailyPropertyBookings", new { area = "Admin" })?' + "fromDate=" + pfromdate + "&toDate=" + ptodate + "&propertyId=" + $("#PropertyId").val() + "&supplierId=" + pSupplierId + "&list=" + $("#properties").val();
        window.open(url, "_blank");

    }
    function printDoc() {
        var pfromdate = $("#FromDate").val();
        var ptodate = $("#ToDate").val();
        var pSupplierId = $("#SupplierId").val();
        var url = '@Url.Action("ReportPrint", "ReportDailyPropertyBookings")?' + "fromDate=" + pfromdate + "&toDate=" + ptodate + "&propertyId=" + $("#PropertyId").val() + "&supplierId=" + pSupplierId + "&list=" + $("#properties").val();
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");

    }
</script>

