@using StayBazar.Models
@model IEnumerable<StayBazar.Areas.Admin.Models.CustomerMasterImportData>

@{ 
    ViewBag.Title = "Display Import Customer Master Data";
}
<style>
    .jumbotron {
        background-color: white;
    }
</style>



<div class="page-title-container style3">
    <div class="row">
        <div class="col-md-1">
            
                @Html.ActionLink("Back", "Import_CustomerMasterData", "CustomerMasterImport", new { area = "Admin" }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-sm-6">
                <h2 style="color:white">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <h5>This data is not yet saved in the master tables.  Click on Back button and Click on Save Data to update the master tables</h5>
    <br />
    <table class="table table-bordered table-hover" cellpadding="0" cellspacing="0">

        <tr>

            <th style="width:100px">Customer Name</th>
            <th style="width:100px">Full Address</th>
            <th style="width:100px">City</th>
            <th style="width:100px">State</th>
            <th style="width:100px">Country</th>
            <th style="width:100px">Email Address</th>
            <th style="width:100px">Mobile Number</th>
            <th style="width:100px">Customer Type</th>
            <th style="width:100px">GST Number</th>
            <th style="width:100px">Pincode</th>
            <th style="width:100px">Code</th>
            <th style="width:100px">User ID</th>
            <th style="width:100px">Import Status</th>

        </tr>


        @foreach (StayBazar.Areas.Admin.Models.CustomerMasterImportData data in Model)
        {
            <tr>

                <td>@data.customer_name</td>
                <td>@data.full_address</td>
                <td>@data.customer_city</td>
                <td>@data.customer_state</td>
                <td>@data.customer_country</td>
                <td>@data.customer_email</td>
                <td>@data.customer_mobile</td>
                <td>@data.customer_type</td>
                <td>@data.customer_gst_no</td>
                <td>@data.pincode</td>
                <td>@data.customermaster_code</td>
                <td>@data.UserID</td>
                <td>@data.import_status</td>
            </tr>
        }


    </table>
</div>

