@model StayBazar.Models.BookingHistoryModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bookings";
    string firstid = "";
}
<div class="container bdy_min_height">
    <script type="text/javascript">
        $(function () { validateRq(); });
    </script>
    @{
        long cid = 0;
        long.TryParse(User.Identity.GetUserId(), out cid);
        CLayer.Role.Roles a = BLayer.User.GetRole(cid);

        if ((int)a == (int)CLayer.Role.Roles.CorporateUser || (int)a == (int)CLayer.Role.Roles.Corporate)
        {
            if ((int)a == (int)CLayer.Role.Roles.CorporateUser)
            {
                long corpid = BLayer.B2B.GetCorporateIdOfUser(cid);
                string b2bnameC = BLayer.B2BUser.Getb2bname(corpid);
                <h2>@ViewBag.Title - @b2bnameC</h2>
            }
            else
            {
                string b2bname = BLayer.B2BUser.Getb2bname(cid);
                <h2>@ViewBag.Title - @b2bname</h2>
            }
        }
        else
        {
            <h2>@ViewBag.Title</h2>
        }
    }
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#Recent" data-toggle="tab">Recent</a></li>
        <li><a href="#History" data-toggle="tab">All</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="Recent">

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }
            <div class="row" id="ResentList">
                @Html.Partial("~/Views/BookingChart/_Recent.cshtml", Model.Bookinglist)
            </div>
        </div>
        <div class="tab-pane " id="History">

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message.
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control ">
                        <div class="row">
                            <div class="col-md-12">
                                Months :  @foreach (StayBazar.Models.BookingHistoryModel.searchingperiod ruv in (StayBazar.Models.BookingHistoryModel.searchingperiod[])Enum.GetValues(typeof(StayBazar.Models.BookingHistoryModel.searchingperiod)))
                                {
                                    if (firstid == "") { firstid = ((int)ruv).ToString(); }
                                    <input type="radio" name="ruv" onclick="FillHistory(@((int)ruv))" class="css-radiobutton12" id="@((int)ruv)" @if ((int)ruv == 1) { <text> checked </text>                  } />
                                    <label for="@((int)ruv)" class="css-label">@ruv.ToString() </label>
                                    <text>&nbsp;&nbsp;</text>
                                }
                                @Html.HiddenFor(m => m.Searchvalue)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" id="HistoryList">
                @Html.Partial("~/Views/BookingChart/_Past.cshtml", Model.Bookinglist)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".css-radiobutton12").change(function () {

            $(".css-radiobutton12").each(function () {
                if (this.checked) {
                    $("#Searchvalue").val($(this).attr("id"));
                }
            });
        });
        $("#SearchValue").val(@firstid);
        $("#@firstid").click();
    });

    function BuyerBTR(BookingId) {
        // add loading image to div
        $('#loading1R_'+ BookingId).html('<img src="../../Content/ajax11-loader.gif"> loading...');
        var urls = '@Url.Action("FillBookedByAddressSearch", "BookingChart")';
        $.ajax({ url: urls, data: { BookingId: BookingId }, type: "POST", success: showMessageFillBookedByResent(BookingId) });
    }
    var showMessageFillBookedByResent = function (BookingId) {
        return function (res) {
            $("#databuyerR_" + BookingId).html(res);
        };
    }
    function ForBuyerBTR(BookingId) {
        // add loading image to div
        $('#loading2R_' + BookingId).html('<img src="../../Content/ajax11-loader.gif"> loading...');
        var urls = '@Url.Action("Booking_GetBookedFor", "BookingChart")';
        $.ajax({ url: urls, data: { BookingId: BookingId }, type: "POST", success: showMessageBookedForResent(BookingId) });
    }
    var showMessageBookedForResent = function (BookingId) {
        return function (res) {
            $("#DataForR_" + BookingId).html(res);
        };
    }
    function BuyerBTH(BookingId) {
        // add loading image to div
        $('#loadingh1_' + BookingId).html('<img src="../../Content/ajax11-loader.gif"> loading...');
        var urls = '@Url.Action("FillBookedByAddressSearch", "BookingChart")';
        $.ajax({ url: urls, data: { BookingId: BookingId }, type: "POST", success: showMessageFillBookedByHistory(BookingId) });
    }
    var showMessageFillBookedByHistory = function (BookingId) {
        return function (res) {
            $("#databuyerH_" + BookingId).html(res);
        };
    }
    function ForBuyerBTH(BookingId) {
        // add loading image to div
        $('#loadingh2_' + BookingId).html('<img src="../../Content/ajax11-loader.gif"> loading...');

        var urls = '@Url.Action("Booking_GetBookedFor", "BookingChart")';
        $.ajax({ url: urls, data: { BookingId: BookingId }, type: "POST", success: showMessageBookedForHistory(BookingId) });
    }
    var showMessageBookedForHistory = function (BookingId) {
        return function (res) {
            $("#DataForH_" + BookingId).html(res);
        };
    }
</script>