@model StayBazar.Areas.Admin.Models.AccommodationFeatureModel
@{
    Layout = null;
}
@*<style>
    .gridcellstyle {
        text-align: center;
    }
</style>*@

@using (Html.BeginForm("Edit", "AccommodationFeature"))
{
    @*<h2>Accomodation Feature</h2>*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*<div class="incontainer">
        <div class="form-group">*@
    <div class="page-title-container style3">
        <div class="row">
            <div class="col-md-3">
                <h2 style="color:white">@ViewBag.Title</h2>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @tabindex = "1", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            @*<div class="form-group">*@
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.Showfeatures) Show in search
                @Html.ValidationMessageFor(m => m.Showfeatures)
            </div>
            @*<div class="form-group">*@
            <div class="col-md-2">
                @Html.LabelFor(m => m.Style)
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" tabindex="2" data-toggle="dropdown">
                        @if (Model.Style == "")
                        {
                            <span id="ddlCaption"><span class="accdtn-icon"><label>None</label></span></span>
                        }
                        else
                        {
                            <span id="ddlCaption"><span class="accdtn-icon @Model.Style"><label>@Model.Style</label></span></span>
                        }
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu feature-selector">
                        <li class="itm"><a href="#" id="none" class="accdtn-icon"><label>None</label></a></li>
                        @{
                            string styleSet = System.Configuration.ConfigurationManager.AppSettings.Get("AccommodationFeatureStyles");
                            if (styleSet != "")
                            {
                                string[] styles = styleSet.Split(',');
                                Array.Sort(styles);
                                int numberOfStyles = styles.Length;
                                for (int i = 0; i < numberOfStyles; i++)
                                {
                                    <li class="itm"><a href="#" id="@styles[i].ToString()" class="accdtn-icon @styles[i].ToString()"><label>@styles[i].ToString()</label></a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            @*<div class="form-group">*@
            <div class="col-md-3">
                <div class="btn-group">
                    <input type="submit" id="btnSave" value="Save" class="btn btn-default" tabindex="3" />
                    <a href="~/Admin/AccommodationFeature" id="btnReset" class="btn btn-danger" tabindex="4">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    @*</div>*@
    @*</div>*@
    @*<div class="container-fluid">*@
        @Html.HiddenFor(m => m.AccommodationFeatureId)
        @Html.HiddenFor(m => m.Style)
    @*</div>*@
    <script type="text/javascript">
        $(function () {
            $("#Title").focus();
            $('.itm>a').click(function () {
                if ($(this).attr("id") == "none") {
                    $("#Style").val("");
                    //$("#ddlCaption").html("None");
                }
                else {
                    $("#Style").val($(this).attr("id"));
                }
                $("#ddlCaption").html("<span class='accdtn-icon " + $(this).attr("id") + "'><label>" + $(this).attr("id") + "</label></span>");
                //}
            });
            //$('.rdoClass').change(function () {
            //    if ($(this).is(':checked')) {
            //        if ($(this).attr("id") == "none") {
            //            $("#Style").val("");
            //        }
            //        else {
            //            $("#Style").val($(this).attr("id"));
            //        }
            //    }
            //});
        });
    </script>
}



