@model IEnumerable<CLayer.OfflineBooking>
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
    StayBazar.Lib.GridPager gp = new StayBazar.Lib.GridPager();
    gp.JavascriptFuncName = "OfflineshowPager";
    gp.ColumnsInPager = 8;
    gp.RowsInAPage = 25;
    //Get ALL blocked permissions
    string email = User.Identity.GetUserName();
    int roleId = BLayer.User.GetRole(email);
    // int menuCount;
    List<CLayer.RolePermission> perm = BLayer.RolePermissions.GetAllPermissions(roleId);
    bool hasInvoicePermisson = perm.Exists(m => m.ModuleId == StayBazar.Common.AdminRolePermission.INVOICE_APPROVAL && m.HasAccess);
    bool hasOfflineBookingDeletePermission = perm.Exists(m => m.ModuleId == StayBazar.Common.AdminRolePermission.OFFLINEBOOKING_DELETE && m.HasAccess);
    bool hasLowermarginbookingapprovalreject = perm.Exists(m => m.ModuleId == StayBazar.Common.AdminRolePermission.LOWERMARGINBOOKING_APPROVAL_REJECT && m.HasAccess);


    string apikey = BLayer.Settings.GetValue(CLayer.Settings.PUBLIC_PAGE_LOCK);
}
<style>
    .margin-bot-10Imp {
        margin-bottom: 5px !important;
    }

    .padding0 {
        padding: 0px 17px !important;
    }

    .panelheadbackimagenone {
        background-image: none !important;
        background-color: #ffffff !important;
    }

    .textalgncenter {
        text-align: center !important;
    }
</style>

<div class="container-fluid">
    <div class="body-content table-custom table-bordered">

        @if (Model.Count() == 0)
        {
            <div class="alert alert-info">Data not found</div>
        }
        <div class="panel-group" id="accordion">
            @{
                StayBazar.Areas.Admin.Models.OfflineBookingModel filterform = (StayBazar.Areas.Admin.Models.OfflineBookingModel)ViewBag.Filter;
                using (Html.BeginForm("Pager", "OfflineBookingList", FormMethod.Post, new { @id = "frmPagers" }))
                {
                    <input type="hidden" id="SearchString" name="SearchString" value="@filterform.SearchString" />
                    <input type="hidden" id="SearchValue" name="SearchValue" value="@filterform.SearchValue" />
                    <input type="hidden" id="currentPage" name="currentPage" value="@filterform.currentPage" />
                    <input type="hidden" id="Limit" name="Limit" value="@filterform.Limit" />
                    <input type="hidden" id="SaveStatus" name="SaveStatus" value="@filterform.SaveStatus" />
                }
                gp.RowsInAPage = filterform.Limit;
            }
            @if (Model != null && Model.Count() > 0)
            {
                @Html.Raw(gp.GetPager((int)filterform.TotalRows, filterform.currentPage))
            }
            @if (Model != null && Model.Count() > 0)
            {
                <div class="row">
                    <div class="col-sm-1" style="width:113px;left: 14px; "><label>Booking No</label> </div>
                    <div class="col-sm-1" style="left: 16px;"><label>Check In</label></div>
                    <div class="col-sm-1" style="left: 12px;"><label>Check Out</label></div>
                    <div class="col-sm-1" style="width:120px;left: 6px;"><label>Booking Date</label></div>
                    <div class="col-sm-2" style="right: 17px;"><label>Customer Name</label></div>
                    @*<div class="col-sm-2" style="right: 21px;"><label>Customer Payment Mode</label></div>*@
                    <div class="col-sm-2" style="right: 21px;"><label>Property Name</label></div>
                    <div class="col-sm-1" style="left: -2pc"><label>City Name</label></div>
                    <div class="col-sm-1" style="right: 31px;width: 139px"><label>Total Sale Price</label></div>
                    <div class="col-sm-1" style="right: 48px;"><label>Supplier Name</label></div>
                    @*<div class="col-sm-2" style="right: 21px;"><label>Supplier Payment Mode</label></div>*@
                </div>
            }
            @foreach (CLayer.OfflineBooking usr in Model)
            {
                CLayer.OfflineBooking obtype = BLayer.OfflineBooking.GetBookingTypeData(@usr.OfflineBookingId);
                CLayer.OfflineBooking offedit = BLayer.OfflineBooking.GetAllDetailsById(@usr.OfflineBookingId);
                string AccommodationTypeTitle = "";
                if (@usr.Accommodationtypeid != -1)
                {
                    CLayer.OfflineBooking getacctitle = BLayer.OfflineBooking.GetAllDetailsById(@usr.OfflineBookingId);
                    AccommodationTypeTitle = @getacctitle.AccommodatoinTypename;
                }
                else
                {
                    AccommodationTypeTitle = @usr.AccommodatoinTypename;
                }
                long IsGST = BLayer.OfflineBooking.GetOfflinebookingIsGST(@usr.OfflineBookingId);

                if (IsGST == (int)CLayer.OfflineBooking.OfflineBookingsType.GST)
                {
                    CLayer.OfflineBooking MinDates = BLayer.OfflineBooking.GetOfflinebookingMinDatesIsGST(@usr.OfflineBookingId);
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" class="blacktext " data-parent="#accordion" href="#i_@usr.OfflineBookingId">
                                <div class="row">
                                    <div class="col-sm-2" style="width:110px"><span></span> @usr.ConfirmationNumber</div>
                                    <div class="col-sm-1">
                                        <span></span>
                                        @if (MinDates != null)
                                        {
                                            if (MinDates.CheckIn != null && MinDates.CheckIn != DateTime.MinValue)
                                            {
                                                <text> @MinDates.CheckIn.ToShortDateString() </text>
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-1">
                                        <span></span>
                                        @if (MinDates != null)
                                        {
                                            if (MinDates.CheckOut != null && MinDates.CheckOut != DateTime.MinValue)
                                            {
                                                <text> @MinDates.CheckOut.ToShortDateString() </text>
                                            }

                                        }
                                    </div>
                                    <div class="col-sm-1"><span></span> @usr.CreatedTime.ToShortDateString()</div>
                                    <div class="col-sm-2"><span></span> @usr.CustomerName</div>
                                    @*<div class="col-sm-2"><span></span> @usr.CustomerPaymentName</div>*@
                                    <div class="col-sm-2"><span></span> @usr.PropertyName</div>
                                    <div class="col-sm-1"><span></span> @usr.PropertyCityname</div>
                                    <div class="col-sm-1"><span></span> @usr.TotalSalePrice</div>
                                    <div class="col-sm-1" style="padding-left: 45px;"><span></span> @usr.SupplierName</div>
                                    @*<div class="col-sm-2"><span></span> @usr.SupplierPaymentName</div>*@
                                </div>
                            </a>
                        </div>

                        <div id="i_@usr.OfflineBookingId" class="panel-collapse collapse ">
                            <div class="panel-body over_div">

                                <div class="row ">
                                    <div class="col-md-3" id="databuyer_@usr.CustomerId">
                                        <b>Property Details</b><br />
                                        Title:@usr.PropertyName<br />
                                        @if (usr.SupplierName != "" && usr.SupplierName != null)
                                        {
                                            <text> Supplier Name : @usr.SupplierName <br /> </text>
                                        }
                                        Address:@usr.PropertyAddress<br />
                                        City:@usr.PropertyCityname<br />
                                        State: @usr.PropertyStatename<br />
                                        Country:@usr.PropertyCountryname<br />
                                        Phone:@usr.PropertyContactNo<br />
                                        Email:@usr.PropertyEmail<br />

                                    </div>

                                    <div class="col-md-3">
                                        <b>Booking Details</b>
                                        <br />
                                        Booking Date:  @usr.CreatedTime.ToShortDateString()<br />
                                        Property Address: @usr.PropertyAddress<br />
                                        Total  Amount: @usr.TotalSalePrice<br />
                                        Created Date : @usr.booking_creationdate.ToShortDateString()

                                        @if (usr.CustomerPaymentName != "" && usr.CustomerPaymentName != null)
                                        {
                                            <br /> <text> Customer Payment Mode : @usr.CustomerPaymentName <br /> </text>
                                            if (usr.CustomerPaymentMode == 3)
                                            {
                                                if (usr.CreditDays > 0)
                                                {
                                                    <text> Customer Payment Credit Days : @(Convert.ToInt32(usr.CreditDays))  <br /> </text>
                                                }
                                            }
                                        }
                                        @if (usr.SupplierPaymentName != "" && usr.SupplierPaymentName != null)
                                        {
                                            <text> Supplier Payment Mode : @usr.SupplierPaymentName <br /> </text>
                                            if (usr.SupplierPaymentMode == 1)
                                            {
                                                <text> Supplier Payment Credit Days : @(Convert.ToInt32(usr.SupplierCreditDays))  <br /> </text>
                                            }
                                        }

                                        @if (obtype != null)
                                        {
                                            if ((int)obtype.BookingType == (int)CLayer.ObjectStatus.OfflineBookingType.TAC)
                                            {
                                                <br />
                                                <text> TAC amount : @obtype.BookingTypeTAC </text>
                                            }

                                        }

                                        @if (offedit.PayeeID != 0)
                                        {
                                            <br />
                                            <b>ORC Details</b>
                                            CLayer.OfflineBooking payeedetails = BLayer.OfflineBooking.GetPayeeDetails(offedit.PayeeID);
                                            <text>
                                                <table>
                                                    <tr>
                                                        <td> Payee Name :   @payeedetails.PayeeName ,</td>
                                                        <td>Amount Payable : @payeedetails.AmountPayable</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">  Account Number : @payeedetails.AccountNumber</td>

                                                    </tr>
                                                    <tr>
                                                        <td> IFSC code : @payeedetails.IFSCcode ,</td>
                                                        <td> PAN : @payeedetails.PAN </td>
                                                    </tr>
                                                    <tr>
                                                        <td> Bank Name : @payeedetails.BankName ,</td>
                                                        <td> Branch Name : @payeedetails.BranchName</td>
                                                    </tr>
                                                </table>

                                            </text>
                                        }
                                    </div>

                                    <div class="col-md-3" id="databuyer_@usr.CustomerId">
                                        <b>Customer Details</b><br />
                                        Name:  @usr.CustomerName <br />
                                        Address:@usr.CustomerAddress<br />
                                        City:@usr.CustomerCityname<br />
                                        State: @usr.CustomerStatename<br />
                                        Country:@usr.CustomerCountryname<br />
                                        Phone:@usr.CustomerMobile<br />
                                        Email:@usr.CustomerEmail<br />
                                        @*GST Registration No:@usr.GSTRegistrationNo<br />
                                            State of registration:@usr.StateOfRegistration<br />*@
                                        @*State of Code:032*@
                                    </div>

                                    <div class="col-md-1">
                                        <a class="btn btn-success handpointer" onclick="OpenGST(@usr.OfflineBookingId)"> Edit </a>
                                    </div>


                                    <div id="loading_@usr.OfflineBookingId" class="loader" style="display:none;">
                                        <div class="center_load">
                                            <img src="~/images/loading.gif" width="20" height="20" />
                                        </div>
                                    </div>
                                    @if (usr.SaveStatus != (int)CLayer.OfflineBooking.Statuslist.Draft)
                                    {
                                        if (hasOfflineBookingDeletePermission)
                                        {
                                            <div class="col-md-1 ">
                                                <a class="btn btn-success handpointer" onclick="DeleteGST(@usr.OfflineBookingId)">Delete</a>
                                            </div>
                                        }
                                    }
                                    @if (usr.SaveStatus == (int)CLayer.OfflineBooking.Statuslist.Draft)
                                    {
                                        if (hasLowermarginbookingapprovalreject)
                                        {
                                            <div class="col-md-1 ">
                                                <a class="btn btn-success handpointer" onclick="DraftApproved(@usr.OfflineBookingId)">Approved</a>
                                            </div>
                                            <div class="col-md-1 ">
                                                <a class="btn btn-success handpointer" onclick="DraftReject(@usr.OfflineBookingId)">Reject</a>
                                            </div>
                                        }

                                    }



                                    <div class="col-lg-2" style="top: 100px;   font-weight: bold;">
                                        Status:
                                        @if (usr.SaveStatus == 1)
                                        {
                                            <text> Saved </text>
                                        }
                                        else if (usr.SaveStatus == 2)
                                        {
                                            <text> Submitted </text>
                                        }
                                        else if (usr.SaveStatus == 3)
                                        {
                                            <text> Cancelled </text>
                                        }

                                        else if (usr.SaveStatus == 5)
                                        {
                                            <text> Approved </text>
                                        }
                                        else if (usr.SaveStatus == 6)
                                        {
                                            <text> Draft </text>

                                        }
                                    </div>

                                </div>


                                @* Need multiple booking details *@

                                @{
                                    List<CLayer.OfflineBooking> BListGST = BLayer.OfflineBooking.GetMultipleBookingDetailsGST(@usr.OfflineBookingId);
                                }
                                @if (BListGST.Count > 0)
                                {
                                    <div class="panel-group" id="accordion1">
                                        <div class="col-md-12" style="padding: 0;">
                                            <table class="table table-hover table-condensed table-responsive table-striped table-custom margin-bot-10Imp">
                                                <thead>
                                                    <tr>
                                                        <th width="25">&nbsp; </th>
                                                        <th width="174">&nbsp;Accommodation</th>
                                                        <th width="160">&nbsp;Date</th>
                                                        <th width="80" class="textalgncenter"> No Of Night</th>
                                                        <th width="90" class="textalgncenter"> No Of rooms</th>
                                                        <th width="50" class="textalgncenter"> Adults</th>
                                                        <th width="50" class="textalgncenter"> Children</th>
                                                        <th width="150">Guest Name</th>
                                                        <th width="200">Guest Email</th>
                                                        <th width="80" class="textalgncenter"> Amount</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="panel panel-default">
                                            @foreach (CLayer.OfflineBooking dt in BListGST)
                                            {
                                                CLayer.HSNCode HSNdata = new CLayer.HSNCode();
                                                if (dt.BookingDetailsId > 0)
                                                {
                                                    long HSNCodeid = BLayer.OfflineBooking.GetBookingDetailHSN(dt.BookingDetailsId);
                                                    if (HSNCodeid > 0)
                                                    {
                                                        HSNdata = BLayer.HSNCode.Get(HSNCodeid);
                                                    }
                                                }

                                                <div class="panel-heading padding0 panelheadbackimagenone">
                                                    <a data-toggle="collapse" class="blacktext " data-parent="#accordion1" onclick="changetoggle(@dt.BookingDetailsId)" href="#iAcc_@dt.BookingDetailsId">
                                                        <div class="row">
                                                            <table class="table table-hover table-condensed table-responsive table-striped table-custom margin-bot-10Imp">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="25">
                                                                            <span id="minus_@dt.BookingDetailsId" class="glyphicon glyphicon-minus" style=" font-size: small; display:none;"></span>
                                                                            <span id="plus_@dt.BookingDetailsId" class="glyphicon glyphicon-plus" style=" font-size: small;"></span>
                                                                        </td>
                                                                        <td width="174">@dt.AccommodatoinTypename</td>
                                                                        <td width="160">
                                                                            @if (HSNdata.NatureOfService == "Event Management Service")
                                                                            {
                                                                                if (dt.CheckIn == dt.CheckOut)
                                                                                {
                                                                                    <text> <b>Event Date</b>:@dt.CheckIn.ToShortDateString() </text>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <text> <b>Event Date </b>:@dt.CheckIn.ToShortDateString()   To   @dt.CheckOut.ToShortDateString()</text>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <text> <b>Check In</b>:@dt.CheckIn.ToShortDateString() <br /> <b>Check out</b>: @dt.CheckOut.ToShortDateString() </text>
                                                                            }

                                                                        </td>
                                                                        <td width="80" class="textalgncenter">@dt.NoOfNight</td>
                                                                        <td width="90" class="textalgncenter">@dt.NoOfRooms</td>
                                                                        <td width="50" class="textalgncenter">@dt.NoOfPaxAdult</td>
                                                                        <td width="50" class="textalgncenter">@dt.NoOfPaxChild</td>
                                                                        <td width="150">&nbsp;@dt.GuestName</td>
                                                                        <td width="200">@dt.GuestEmail</td>
                                                                        <td width="80" class="textalgncenter">@dt.TotalSalePrice</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div id="iAcc_@dt.BookingDetailsId" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <b>Buy Price</b><br />
                                                                <div class="col-md-6">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                Average Daily Rate Before GST :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.AvgDailyRateBefreStaxForBuyPrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                GST <span>( % )</span> :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.StaxForBuyPrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Total Amount - Accommodation :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.TotalAmtForBuyPrice

                                                                            </td>
                                                                        </tr>


                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                GST - other services <span>( % )</span> :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.StaxForotherBuyPrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Total Amount - other services :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.TotalAmtotherForBuyPrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Buy Price for other services :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.BuyPriceforotherservicesForBuyprice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-weight:bold;">
                                                                                Total Buy Price :
                                                                            </td>
                                                                            <td align="right" style="font-weight:bold;">
                                                                                @dt.TotalBuyPrice

                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <b>Sale Price</b><br />
                                                                <div class="col-md-6">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                Average Daily Rate Before GST:
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.AvgDailyRateBefreStaxForSalePrice
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                GST <span>( % )</span> :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.StaxForSalePrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Total Amount - Accommodation :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.TotalAmtForSalePrice

                                                                            </td>
                                                                        </tr>


                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                GST - other services <span>( % )</span> :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.StaxForotherForSalePrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Total Amount - other services:
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.TotalAmtotherForSalePrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Sale Price for other services :
                                                                            </td>
                                                                            <td align="right">
                                                                                @dt.BuyPriceforotherservicesForSalePrice

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-weight:bold;">
                                                                                Total Sale Price :
                                                                            </td>
                                                                            <td align="right" style="font-weight:bold;">
                                                                                @dt.TotalSalePrice

                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <br />
                                                        @if (usr.SaveStatus != (int)CLayer.OfflineBooking.Statuslist.Draft)
                                                        {
                                                            <div class="row" style="float: right;">
                                                                <a href="#" title="Resendemail" class="btn btn-success" onclick="ResendemailCGST(@usr.OfflineBookingId,@dt.BookingDetailsId)">
                                                                    Resend email to customer
                                                                </a>
                                                                <a href="/ManageOfflineBooking/ViewBillcusGST?OfflineBookingId=@usr.OfflineBookingId&BookingDetailsId=@dt.BookingDetailsId" title="Resend email to customer" class="btn btn-success" target="_blank">
                                                                    View customer Mail
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    if (usr.SaveStatus != (int)CLayer.OfflineBooking.Statuslist.Draft)
                                    {
                                        <div class="row" style="float: right;">

                                            <a class="btn btn-success" onclick="ViewGST(@usr.OfflineBookingId)"> View </a>
                                            @if (usr.SaveStatus == 2)
                                            {
                                                <a class="btn btn-success" onclick="SetApproved(@usr.OfflineBookingId)">
                                                    Approve
                                                </a>
                                            }


                                            @{

                                                int invwithoutimagests = 0;
                                                CLayer.Invoice data = BLayer.Invoice.GetInvoiceByOfflineBooking(usr.OfflineBookingId);
                                                if (data != null)
                                                {
                                                    invwithoutimagests = data.Status;
                                                }



                                            }

                                            @if (hasInvoicePermisson)
                                            {
                                                <a href="#" class="btn btn-info" onclick="showInvoiceGST(@usr.OfflineBookingId)">Invoice</a>
                                            }
                                            else
                                            {
                                                if (invwithoutimagests == (int)CLayer.ObjectStatus.InvoiceStatus.Submitted)
                                                {
                                                    <a href="#" class="btn btn-info" onclick="showInvoicePreviewonly(@usr.OfflineBookingId)">Invoice</a>
                                                }
                                            }

                                            <a href="#" class="btn btn-info" onclick="showProforma(@usr.OfflineBookingId) ">Proforma</a>

                                            @if (usr.SaveStatus == (int)CLayer.OfflineBooking.Statuslist.Approved)
                                            {
                                                if (invwithoutimagests == (int)CLayer.ObjectStatus.InvoiceStatus.Submitted)
                                                {
                                                    <a href="#" class="btn btn-info" onclick="showInvoicewithoutsign(@usr.OfflineBookingId)">View Invoice Without Sign</a>
                                                }
                                            }
                                            @if (BListGST.Count > 0)
                                            {
                                                <a class="btn btn-success" onclick="Sendallmail(@usr.OfflineBookingId)"> Send All Mail </a>
                                                <a href="#" title="Resendemail" class="btn btn-success marginleft10" onclick="ResendemailSGST(@usr.OfflineBookingId)">
                                                    Resend email to supplier
                                                </a>
                                                <a href="/ManageOfflineBooking/ViewBillSupGST?OfflineBookingId=@usr.OfflineBookingId" title="Resend email to supplier" class="btn btn-success" target="_blank">
                                                    View supplier mail
                                                </a>


                                                <a href="#" title="ResendemailSupplierInvoice" class="btn btn-success marginleft10" onclick="ResendSupplierInvoiceSGST(@usr.OfflineBookingId)">
                                                    Resend Supp Inv Request
                                                </a>
                                                <a href="/ManageOfflineBooking/ViewBillSupGSTInvoice?OfflineBookingId=@usr.OfflineBookingId" title="Resend email to supplier" class="btn btn-success" target="_blank">
                                                    View Supp Inv Request
                                                </a>
                                            }
                                            @{
                                                string Invoicemaildate = BLayer.OfflineBooking.InvoiceMaildate(usr.OfflineBookingId, 1);
                                                string Performamaildate = BLayer.OfflineBooking.InvoiceMaildate(usr.OfflineBookingId, 2);

                                                DateTime Invoicemaildate0 = Invoicemaildate.AsDateTime();
                                                DateTime Performamaildate0 = Performamaildate.AsDateTime();
                                            }
                                            Invoice Mailed Date :  @if (@Invoicemaildate != "01/01/0001 00:00:00" && @Invoicemaildate0.ToShortDateString() != "01/01/0001")
                                            {<text>   @Invoicemaildate0.ToShortDateString() </text> }
                                        else
                                        { <text> Not Mailed </text>}  &nbsp;  &nbsp;  Proforma Mailed Date : @if (@Performamaildate != "01/01/0001 00:00:00" && @Performamaildate0.ToShortDateString() != "01/01/0001")
                                            {<text> @Performamaildate0.ToShortDateString() </text> }
                                        else
                                        { <text> Not Mailed </text>}

                                    </div>
                                }
                            }
                            </div>

                        </div>

                    </div>
                }
                else
                {
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <a data-toggle="collapse" class="blacktext " data-parent="#accordion" href="#i_@usr.OfflineBookingId">
                                <div class="row">
                                    <div class="col-sm-2" style="width:110px"><span></span> @usr.ConfirmationNumber</div>
                                    <div class="col-sm-1"><span></span> @usr.CheckIn.ToShortDateString()</div>
                                    <div class="col-sm-1"><span></span> @usr.CheckOut.ToShortDateString()</div>
                                    <div class="col-sm-1"><span></span>   @usr.CreatedTime.ToShortDateString()</div>
                                    <div class="col-sm-2"><span></span> @usr.CustomerName</div>
                                    @*<div class="col-sm-2"><span></span> @usr.CustomerPaymentName</div>*@
                                    <div class="col-sm-2"><span></span> @usr.PropertyName</div>
                                    <div class="col-sm-1"><span></span> @usr.PropertyCityname</div>
                                    <div class="col-sm-1"><span></span> @usr.TotalSalePrice</div>
                                    <div class="col-sm-1" style="padding-left: 45px;"><span></span> @usr.SupplierName</div>
                                    @*<div class="col-sm-2"><span></span> @usr.SupplierPaymentName</div>*@
                                </div>
                            </a>
                        </div>

                        <div id="i_@usr.OfflineBookingId" class="panel-collapse collapse ">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-3" id="databuyer_@usr.CustomerId">
                                        <b>Property Details</b><br />
                                        Title:@usr.PropertyName<br />
                                        @if (usr.SupplierName != "" && usr.SupplierName != null)
                                        {
                                            <text> Supplier Name : @usr.SupplierName <br /> </text>
                                        }
                                        Address:@usr.PropertyAddress<br />
                                        City:@usr.PropertyCityname<br />
                                        State: @usr.PropertyStatename<br />
                                        Country:@usr.PropertyCountryname<br />
                                        Phone:@usr.PropertyContactNo<br />
                                        Email:@usr.PropertyEmail<br />
                                    </div>

                                    <div class="col-md-3">
                                        <b>Booking Details</b>
                                        <br />
                                        Booking Date:  @usr.CreatedTime.ToShortDateString()<br />
                                        Property Address: @usr.PropertyAddress<br />
                                        Total  Amount: @usr.TotalSalePrice<br />
                                        Created Date : @usr.booking_creationdate.ToShortDateString()

                                        @if (usr.CustomerPaymentName != "" && usr.CustomerPaymentName != null)
                                        {
                                            <br /> <text> Customer Payment Mode : @usr.CustomerPaymentName <br /> </text>
                                            if (usr.CustomerPaymentMode == 3)
                                            {
                                                if (usr.CreditDays > 0)
                                                {
                                                    <text> Customer Payment Credit Days : @(Convert.ToInt32(usr.CreditDays)) <br /> </text>
                                                }
                                            }
                                        }
                                        @if (usr.SupplierPaymentName != "" && usr.SupplierPaymentName != null)
                                        {
                                            <text> Supplier Payment Mode : @usr.SupplierPaymentName <br /> </text>
                                            if (usr.SupplierPaymentMode == 1)
                                            {
                                                <text> Supplier Payment Credit Days : @(Convert.ToInt32(usr.SupplierCreditDays)) <br /> </text>
                                            }
                                        }

                                    </div>

                                    <div class="col-md-3" id="databuyer_@usr.CustomerId">
                                        <b>Customer Details</b><br />
                                        Name:  @usr.CustomerName <br />
                                        Address:@usr.CustomerAddress<br />
                                        City:@usr.CustomerCityname<br />
                                        State: @usr.CustomerStatename<br />
                                        Country:@usr.CustomerCountryname<br />
                                        Phone:@usr.CustomerMobile<br />
                                        Email:@usr.CustomerEmail<br />
                                    </div>

                                    <div class="col-md-1">
                                        <a class="btn btn-success handpointer" onclick="Open(@usr.OfflineBookingId)"> Edit </a>
                                    </div>
                                    @*<div class="col-md-1">
                                            <a class="btn btn-success handpointer" onclick="Open(@usr.OfflineBookingId)">Open</a>
                                        </div>*@
                                    @if (usr.SaveStatus == (int)CLayer.OfflineBooking.Statuslist.Approved)
                                    {
                                        if (hasOfflineBookingDeletePermission)
                                        {
                                            <div class="col-md-1">
                                                <a class="btn btn-success handpointer" onclick="Delete(@usr.OfflineBookingId)">Delete</a>
                                            </div>
                                        }
                                    }
                                    else
                                    {

                                        <div class="col-md-1">
                                            <a class="btn btn-success handpointer" onclick="Delete(@usr.OfflineBookingId)">Delete</a>
                                        </div>
                                    }

                                    <div class="col-lg-2" style="top: 272px; left: 127px;  font-weight: bold;">
                                        Status:
                                        @if (usr.SaveStatus == 1)
                                        {
                                            <text> Saved </text>
                                        }
                                        else if (usr.SaveStatus == 2)
                                        {
                                            <text> Submitted </text>
                                        }
                                        else if (usr.SaveStatus == 3)
                                        {
                                            <text> Cancelled </text>
                                        }

                                        else if (usr.SaveStatus == 5)
                                        {
                                            <text> Approved </text>
                                        }
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <b>Buy Price</b><br />
                                        <table>
                                            <tr>
                                                <td>
                                                    Average Daily Rate Before Service tax:
                                                </td>
                                                <td align="right">
                                                    @usr.AvgDailyRateBefreStaxForBuyPrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Service tax <span>( % )</span> :
                                                </td>
                                                <td align="right">
                                                    @usr.StaxForBuyPrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Total Amount - Accommodation
                                                </td>
                                                <td align="right">
                                                    @usr.TotalAmtForBuyPrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Buy Price for other services
                                                </td>
                                                <td align="right">
                                                    @usr.BuyPriceforotherservicesForBuyprice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Service tax - other services <span>( % )</span> :
                                                </td>
                                                <td align="right">
                                                    @usr.StaxForotherBuyPrice

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Total Amount - other services
                                                </td>
                                                <td align="right">
                                                    @usr.TotalAmtotherForBuyPrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bold;">
                                                    Total Buy Price
                                                </td>
                                                <td align="right" style="font-weight:bold;">
                                                    @usr.TotalBuyPrice

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-5">
                                        <b>Sale Price</b><br />
                                        <table>
                                            <tr>
                                                <td>
                                                    Average Daily Rate Before Service tax:
                                                </td>
                                                <td align="right">
                                                    @usr.AvgDailyRateBefreStaxForSalePrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Service tax <span>( % )</span> :
                                                </td>
                                                <td align="right">
                                                    @usr.StaxForSalePrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Total Amount - Accommodation
                                                </td>
                                                <td align="right">
                                                    @usr.TotalAmtForSalePrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Sale Price for other services
                                                </td>
                                                <td align="right">
                                                    @usr.BuyPriceforotherservicesForSalePrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Service tax - other services <span>( % )</span> :
                                                </td>
                                                <td align="right">
                                                    @usr.StaxForotherForSalePrice

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Total Amount - other services:
                                                </td>
                                                <td align="right">
                                                    @usr.TotalAmtotherForSalePrice

                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bold;">
                                                    Total Sale Price :
                                                </td>
                                                <td align="right" style="font-weight:bold;">
                                                    @usr.TotalSalePrice

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                        <thead>
                                            <tr>
                                                <th>Accommodation</th>
                                                <th>CheckIn</th>
                                                <th>Check out</th>
                                                <th>No Of Night</th>
                                                <th>No Of rooms</th>
                                                <th>Adults</th>
                                                <th>Children</th>
                                                <th>Guests Name</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@usr.AccommodatoinTypename</td>
                                                <td>@usr.CheckIn.ToShortDateString()</td>
                                                <td>@usr.CheckOut.ToShortDateString()</td>
                                                <td>@usr.NoOfNight</td>
                                                <td>@usr.NoOfRooms</td>
                                                <td>@usr.NoOfPaxAdult</td>
                                                <td>@usr.NoOfPaxChild</td>
                                                <td>@usr.GuestName</td>
                                                <td>@usr.TotalSalePrice</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <a href="#" title="Resendemail" class="btn btn-success" onclick="ResendemailC(@usr.OfflineBookingId)">
                                        Resend email to customer
                                    </a>
                                    <a href="/ManageOfflineBooking/ViewBillcus?OfflineBookingId=@usr.OfflineBookingId" title="Resend email to customer" class="btn btn-success" target="_blank">
                                        View customer Mail
                                    </a>


                                    <a href="#" title="Resendemail" class="btn btn-success marginleft10" onclick="ResendemailS(@usr.OfflineBookingId)">
                                        Resend email to supplier
                                    </a>
                                    <a href="/ManageOfflineBooking/ViewBillSup?OfflineBookingId=@usr.OfflineBookingId" title="Resend email to supplier" class="btn btn-success" target="_blank">
                                        View supplier Mail
                                    </a>

                                    <a class="btn btn-success" onclick="View(@usr.OfflineBookingId)"> View </a>
                                    @if (usr.SaveStatus == 2)
                                    {
                                        <a class="btn btn-success" onclick="SetApproved(@usr.OfflineBookingId)">
                                            Approve
                                        </a>
                                    }


                                    @{

                                        int invwithoutimagests = 0;
                                        CLayer.Invoice data = BLayer.Invoice.GetInvoiceByOfflineBooking(usr.OfflineBookingId);
                                        if (data != null)
                                        {
                                            invwithoutimagests = data.Status;
                                        }

                                    }

                                    @if (hasInvoicePermisson)
                                    {
                                        <a href="#" class="btn btn-info" onclick="showInvoice(@usr.OfflineBookingId)">Invoice</a>
                                    }
                                    else
                                    {
                                        if (invwithoutimagests == (int)CLayer.ObjectStatus.InvoiceStatus.Submitted)
                                        {
                                            <a href="#" class="btn btn-info" onclick="showInvoicePreviewonly(@usr.OfflineBookingId)">Invoice</a>
                                        }
                                    }

                                    <a href="#" class="btn btn-info" onclick="showProforma(@usr.OfflineBookingId) ">Proforma</a>

                                    @*@if (hasOfflineBookingDeletePermission)
                                        {

                                        }*@



                                    @if (usr.SaveStatus == (int)CLayer.OfflineBooking.Statuslist.Approved)
                                    {
                                        if (invwithoutimagests == (int)CLayer.ObjectStatus.InvoiceStatus.Submitted)
                                        {
                                            <a href="#" class="btn btn-info" onclick="showInvoicewithoutsign(@usr.OfflineBookingId)">View Invoice Without Sign</a>
                                        }
                                    }

                                    @{
                                        string Invoicemaildate = BLayer.OfflineBooking.InvoiceMaildate(usr.OfflineBookingId, 1);
                                        string Performamaildate = BLayer.OfflineBooking.InvoiceMaildate(usr.OfflineBookingId, 2);

                                        DateTime Invoicemaildate0 = Invoicemaildate.AsDateTime();
                                        DateTime Performamaildate0 = Performamaildate.AsDateTime();
                                    }
                                    Invoice Mailed Date :  @if (@Invoicemaildate != "01/01/0001 00:00:00" && @Invoicemaildate0.ToShortDateString() != "01/01/0001")
                                    {<text>   @Invoicemaildate0.ToShortDateString() </text> }
                                else
                                { <text> Not Mailed </text>}  &nbsp;  &nbsp;  Proforma Mailed Date : @if (@Performamaildate != "01/01/0001 00:00:00" && @Performamaildate0.ToShortDateString() != "01/01/0001")
                                    {<text> @Performamaildate0.ToShortDateString() </text> }
                                else
                                { <text> Not Mailed </text>}

                            </div>

                        </div>

                    </div>

                </div>
            }

        }

        </div>
    </div>
</div>

<script>
    function NoDeleteAlert() {
        alert("Cannot Delete");
        //mail send

    }
</script>

<script type="text/javascript">
    var apiKEY = '@(apikey)';
    function changetoggle(str) {
        var Plus = '#plus_' + str
        var Minus = '#minus_' + str
        var Sub = '#iAcc_' + str
        var Id = '#Id_' + str
        if ($(Sub).hasClass('in')) {
            $('#plus_' + str).css("display", "block");
            $('#minus_' + str).css("display", "none");

        }
        else {
            $('#plus_' + str).css("display", "none");
            $('#minus_' + str).css("display", "block");
        }
    }
    function showInvoicewithoutsign(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=500,height=400';
        window.open('Invoice/InvoicePDFNoSign?obid=' + obid);
    }



    function showInvoice(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=1050,height=800';
        // window.open('Invoice/Preview?obid=' + obid, 'test', p1 + p2);
        window.open('Invoice/Preview?obid=' + obid, "resizable=no", "width=1000,height=800");
    }

    function showInvoiceGST(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=1050,height=800';
        // window.open('Invoice/Preview?obid=' + obid, 'test', p1 + p2);
        window.open('Invoice/Preview?obid=' + obid, "resizable=no", "width=1000,height=800");
    }

    function showInvoicePreviewonly(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=1050,height=800';
        // window.open('Invoice/Preview?obid=' + obid, 'test', p1 + p2);
        window.open('Invoice/showInvoicePreviewonly?obid=' + obid, "resizable=no", "width=1000,height=800");
    }


    function showProforma(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=1500,height=800';
        window.open('Proforma/Preview?obid=' + obid, "resizable=no", "width=1037,height=800");
    }

    function OfflineshowPager(num) {
        $("#currentPage").val(num);
        var url = '@Url.Action("Pager", "ManageOfflineBooking", new { area = "Admin" })';
        $.post(url, $("#frmPagers").serialize(), function (data) {
            $("#List").html(data);
        });
    }
    function View(OffId) {
        window.location.href = '/Admin/OfflineBooking/ViewBookingData?OfflineBookingId=' + OffId + '&Dir=' + 2;

    }
    function SetApproved(OffId) {
        var url = '@Url.Action("SetApproved", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
        $.post(url, function (data) {
            $("#List").html(data);
            alert("Approved successfully");
        });
    }

    function Sendallmail(OffId) {
        var url = '@Url.Action("Sendallmail", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
        $.post(url, function (data) {
            alert("Mail has been sent successfully");
        });
    }

    function Open(OffId) {
        window.location.href = '/Admin/OfflineBooking/OfflineEdit?OfflineBookId=' + OffId;
    }
    function Delete(OffId) {
        var answer = confirm("Are you sure you want to delete this Saved booking ?");

        if (answer == true) {
            var url = '@Url.Action("DeleteOfflineSavedData", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
            $.post(url, $("#frmPagers").serialize(), function (data) {
                if (data == 'True' || data == 'true') {
                    $.get('@Url.Action("LoadList", "ManageOfflineBooking")', function (result) {
                        $("#List").html(result);
                    });
                }
                else {
                    var url = '@Url.Action("GetMessageAlertForBookingDelete", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
                    $.get(url, function (data) {
                        if (data != null && data != "") {
                            alert(data);
                        }
                        else {
                            alert("Booking cannot be deleted");
                        }
                    });
                }
            });
        }
        //window.location.href = '/Admin/OfflineBooking/DeleteOfflineSavedData?OfflineBookId=' + OffId;
    }

    function OfflineBookEdit(OffId) {
        var url = '@Url.Action("OfflineEdit", "OfflineBooking", new { area = "Admin" })';
        $.post(url, { OfflineBookId: OffId }, function (data) {
            alert(data);
            window.location(data);
        });
    }

    function ResendemailC(id) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailC", "ManageOfflineBooking")?OfflineBookingId=' + id;
            $.post(url, function (data) {

                alert("Resend email was sent successfully");
            });
        }
        else {
            return false
        }
    }
    function ResendemailS(id) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailS", "ManageOfflineBooking")?OfflineBookingId=' + id;
            $.post(url, function (data) {

                alert("Resend email was sent successfully");
            });
        }
        else {
            return false
        }
    }





    function ResendemailCGST(id, Bid) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailCGST", "ManageOfflineBooking")?OfflineBookingId=' + id + '&BookingDetailsId=' + Bid + '&key=' + apiKEY;
            $.post(url, function (data) {

                alert("Resend email was sent successfully");
            });
        }
        else {
            return false
        }
    }
    function ResendemailSGST(id) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailSGST", "ManageOfflineBooking")?OfflineBookingId=' + id + '&key=' + apiKEY;
            $.post(url, function (data) {

                alert("Resend email was sent successfully");
            });
        }
        else {
            return false
        }
    }

    function ResendSupplierInvoiceSGST(id) {
        var r = confirm("Are you sure you want to resend Supplier Invoice mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendSupplierInvoiceSGST", "ManageOfflineBooking")?OfflineBookingId=' + id;
            $.post(url, function (data) {

                alert("Resend Supplier Invoice email was sent successfully");
            });
        }
        else {
            return false
        }
    }


    function Cancelbtn(Id) {
        var r = confirm("Are you sure you want to Cancel? ")
        // alert(Id);
        if (r == true) {
            $.post('@Url.Action("StatusCancel", "CorporateCreditBookings", new { area = "Admin" })', { BookingId: Id }, function (data) {

            });
        }
        else {
            return false
        }
    }

    function PDF(OffId) {
        var url = '@Url.Action("ReportPdf", "ManageOfflineBooking")?OfflineBookingId=' + OffId;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }

    //GST FUNCTION CHANGES
    function OpenGST(OffId) {
        window.location.href = '/Admin/OfflineBookingGST/OfflineEdit?OfflineBookId=' + OffId;
    }
    function DeleteGST(OffId) {

        var answer = confirm("Are you sure you want to delete this booking ?");
        if (answer == true) {
            var load = 'loading_' + OffId;
            document.getElementById(load).style.display = 'block';
            var url = '@Url.Action("DeleteOfflineSavedData", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
            $.post(url, $("#frmPagers").serialize(), function (data) {
                document.getElementById(load).style.display = 'none';
                if (data == 'True' || data == 'true') {
                    $.get('@Url.Action("LoadList", "ManageOfflineBooking")', function (result) {
                        $("#List").html(result);
                    });
                }
                else {
                    var url = '@Url.Action("GetMessageAlertForBookingDelete", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
                    $.get(url, function (data) {
                        if (data != null && data != "") {
                            alert(data);
                        }
                        else {
                            alert("Booking cannot be deleted");
                        }
                    });
                }
            });
        }
    }

    function DraftApproved(OffId) {
        var url = '@Url.Action("DraftApproved", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
        $.post(url, $("#frmPagers").serialize(), function (data) {
             var url1 = '@Url.Action("Filter", "ManageOfflineBooking")';
            $.post(url1, $("#frmFilters").serialize(),
                            function (data) {
                                $("#List").html(data);
                            });
        });
    }

    function DraftReject(OffId) {
        var answer = confirm("Are you sure you want to reject this booking ?");
        if (answer == true) {
            var url = '@Url.Action("DraftReject", "ManageOfflineBooking", new { area = "Admin" })?OfflineBookingId=' + OffId;
            $.post(url, $("#frmPagers").serialize(), function (data) {
                var url1 = '@Url.Action("Filter", "ManageOfflineBooking")';
                $.post(url1, $("#frmFilters").serialize(),
                                function (data) {
                                    $("#List").html(data);
                                });
            });
        }
    }
    function ViewGST(OffId) {
        window.location.href = '/Admin/OfflineBookingGST/BookingDetailsPreview?OfflineBookId=' + OffId + '&Dir=' + 2;

    }
</script>



@*<div class="panel-heading">
        <a data-toggle="collapse" class="blacktext " data-parent="#accordion" href="#i_@usr.OfflineBookingId">
            <div class="row">
                <div class="col-md-2"><span></span>Date: @usr.CreatedTime.ToShortDateString()</div>
                <div class="col-md-4">
                    Property: @usr.PropertyName @if (@usr.PropertyCityname != "" && @usr.PropertyCityname != "select")
                    {<text>, @usr.PropertyCityname</text>}
                </div>

                <div class="col-md-2">  Confirm No: @usr.ConfirmationNumber </div>
                <div class="col-md-2">  Staff: @usr.CreatedName </div>
                <div class="col-md-2">
                    status:
                    @if (usr.SaveStatus == 1)
                    {
                        <text> Saved </text>
                    }
                    else if (usr.SaveStatus == 2)
                    {
                        <text> Submitted </text>
                    }
                    else if (usr.SaveStatus == 3)
                    {
                        <text> Cancelled </text>
                    }

                    else if (usr.SaveStatus == 5)
                    {
                        <text> Approved </text>
                    }
                </div>
            </div>
        </a>
    </div>*@



