@model StayBazar.Areas.Admin.Models.ReportDailyInventoryAndBookingModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Filter", "ReportDailyInventoryAndBooking", FormMethod.Post, new { @id = "frmFiltersReportDailyInventoryAndBooking", onsubmit = "return runSearch();" }))
        {
            <div class="row ">
                <div class="col-md-1 ">
                </div>
                <div class="col-md-3">
                 
                    <input type="button" onclick="browseSupplier()" value="Choose Supplier" class="btn btn-default"/>
                    <span id="suppliername">Choose a supplier</span>
                </div>
                <div class="col-md-3">
                  
                    <div class="input-group ">@Html.HiddenFor(m=>m.SupplierId)
                        @Html.TextBoxFor(m => m.CurrentDate, "{0:dd/MM/yyyy}", new { @class = "form-control ", Title = " Date" }) 
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-default" type="button" tabindex="3">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>            
              
                    <div class="col-md-2 exporticons">
                        <a title="Print" href="#" onclick="printDoc()" id="btnNextClick" class="fa fa-print"> </a>
                        <a title="Pdf" href="#" onclick="PDF()" id="btnNextClick" class="fa fa-file-pdf-o"></a>
                        <a title="Export" href="#" onclick="Export()" id="btnNextClick" class="fa fa-file-excel-o"></a>
                    </div>
              
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="chooseCorporate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose Supplier</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_BrowseSupplier")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<script type="text/javascript">
    function browseSupplier() {
        $('#chooseCorporate').modal('show');
    }
    function corpSelected(corpId) {
        $("#suppliername").html($("#corpname_" + corpId).html());
        $("#SupplierId").val(corpId);
        $('#chooseCorporate').modal('hide');
    }

    $(function () {
        $('#CurrentDate').datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
    $("#btnSearch").click(function () {
        var url = '@Url.Action("Filter", "ReportDailyInventoryAndBooking", new { area = "Admin" })';
        // alert($("#frmFiltersForDailyBooking").serialize());
        $.post(url, $("#frmFiltersReportDailyInventoryAndBooking").serialize(),
                function (data) {
                    // aler(data);
                    $("#DailyInventoryAndBookingList").html(data);
                });
        runSearch();
    });

    function runSearch() {
        return true;
    }


    function PDF() {
        var pfromdate = $("#CurrentDate").val();
        // var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        var pSupplierId = $("#SupplierId").val();
        var url = '@Url.Action("ReportPdf", "ReportDailyInventoryAndBooking")?' + "FromDate=" + pfromdate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage + "&" + "SupplierId=" + pSupplierId;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
    function Export() {
        var pfromdate = $("#CurrentDate").val();
        // var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        var pSupplierId = $("#SupplierId").val();
        window.location = '@Url.Action("ExcelReport", "ReportDailyInventoryAndBooking", new { area = "Admin" })?' + "FromDate=" + pfromdate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage + "&" + "SupplierId=" + pSupplierId;
        //window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
    function printDoc() {
        var pfromdate = $("#CurrentDate").val();
       // var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        var pSupplierId = $("#SupplierId").val();
        //alert(pfromdate);
        //alert(pToDate);
        //alert(pLimit);
        //alert(pcurrentPage);
        var url = '@Url.Action("ReportPrint", "ReportDailyInventoryAndBooking")?' + "FromDate=" + pfromdate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage + "&" + "SupplierId=" + pSupplierId;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
</script>

