@model List<CLayer.Booking>
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    StayBazar.Lib.GridPager gp = new StayBazar.Lib.GridPager();
    gp.JavascriptFuncName = "showPager2";
    gp.ColumnsInPager = 8;
    gp.RowsInAPage = 25;

    string userid = User.Identity.GetUserId();
    string email = User.Identity.GetUserName();
    CLayer.Role.Roles role = (CLayer.Role.Roles)BLayer.User.GetRole(email);

}
<div class="alert alert-danger" id="dvAlert" style="display:none">
    <strong><p id="pError"></p></strong>
</div>
<div class="alert alert-danger" id="dvMessage" style="display:none">
    <strong><p id="pMessage"></p></strong>
</div>
@if (Model != null && Model.Count() > 0)
{
    <div class="panel-group" id="accordion">
        @{
            long i = 0;
        }

        @{
            StayBazar.Models.BookingHistoryModel  filterform = (StayBazar.Models.BookingHistoryModel)ViewBag.Filter;
            using (Html.BeginForm("Pager", "BookingApproval", FormMethod.Post, new { @id = "frmPagers" }))
            {
                <input type="hidden" id="Type" name="type" value="@filterform.Type" />
                <input type="hidden" id="currentPage" name="currentPage" value="@filterform.currentPage" />
                <input type="hidden" id="Limit" name="Limit" value="@filterform.Limit" />
                <input type="hidden" id="Day" name="Day" value="@filterform.Day" />
            }
            gp.RowsInAPage = filterform.Limit;
        }

        @if (Model != null && Model.Count() > 0)
        {
            @Html.Raw(gp.GetPager((int)filterform.TotalRows, filterform.currentPage))
        }

        @foreach (CLayer.Booking usr in Model)
        {

            long Paymentoption = BLayer.Bookings.GetPaymentoption(usr.BookingId);
            CLayer.ObjectStatus.PartialPaymentStatus PartialPayStatus = BLayer.Bookings.GetPartialPaymentStatus(usr.BookingId);


            if (i != usr.BookingId)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" class="blacktext " data-parent="#accordion" href="#i_@usr.BookingId">
                            <div class="row">
                                <div class="col-md-2 ">
                                    <span></span>Date: @usr.BookingDate.ToShortDateString()
                                </div>
                                <div class="col-md-2 ">Cnf. No: @usr.OrderNo </div>
                                <div class="col-md-4">@usr.PropertyTitle  Location: @usr.propertyLocation </div>
                            </div>
                        </a>

                    </div>

                    <div id="i_@usr.BookingId" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <dl>
                                        @*<dt>Confirmation Details</dt>
                        <dd>@usr.OrderNo</dd>*@
                                        <dt>Booking Date:</dt>
                                        <dd>@usr.BookingDate.ToShortDateString()</dd>
                                    </dl>

                                </div>
                                <div class="col-md-3">
                                    <dl>
                                        <dt>Property Details</dt>
                                        <dd>@usr.PropertyTitle</dd>
                                        <dd>@usr.propertyAddress</dd>
                                        <dd>@usr.propertyLocation</dd>
                                        <dd>@usr.propertyCity</dd>
                                        <dd>@usr.propertyPin</dd>
                                        @*<dd>@usr.propertyEmail</dd>*@
                                    </dl>
                                </div>

                                <div class="col-md-2">
                                    <dl>
                                        <dt>Status</dt>
                                        <dd>
                                            @{
                                                int id = usr.BookingStatus;
                                                if (id == (int)CLayer.ObjectStatus.BookingStatus.Success)
                                                {
                                                    <text>Booked</text>
                                                }
                                                else if (id == (int)CLayer.ObjectStatus.BookingStatus.Cancelled)
                                                {
                                                    <text>Cancelled</text>
                                                }
                                                else if (id == (int)CLayer.ObjectStatus.BookingStatus.Cart)
                                                {
                                                    <text>Cart</text>
                                                }
                                                else if (id == (int)CLayer.ObjectStatus.BookingStatus.CheckOut)
                                                {
                                                    <text>CheckOut</text>
                                                }
                                                else if (id == (int)CLayer.ObjectStatus.BookingStatus.Failed)
                                                {
                                                    <text>Failure</text>
                                                }
                                                else if (id == (int)CLayer.ObjectStatus.BookingStatus.Decline)
                                                {
                                                    <text>Decline</text>

                                                }
                                            }
                                        </dd>
                                        <dt>Approval Status</dt>
                                        <dd>
                                            @{
                                                int ApprovalStatusid = usr.approval_status;
                                                if (ApprovalStatusid == (int)CLayer.ObjectStatus.BookingApprovalStatus.WaitingForApproval)
                                                {
                                                    <text>Waiting for approval</text>
                                                }
                                                else if (ApprovalStatusid == (int)CLayer.ObjectStatus.BookingApprovalStatus.Approved)
                                                {
                                                    <text>Approval in progress</text>
                                                }
                                                else if (ApprovalStatusid == (int)CLayer.ObjectStatus.BookingApprovalStatus.ConfirmedforBooking)
                                                {
                                                    <text>Confirmed for booking</text>
                                                }
                                                else if (ApprovalStatusid == (int)CLayer.ObjectStatus.BookingApprovalStatus.Rejected)
                                                {
                                                    <text>Rejected</text>
                                                }

                                            }
                                        </dd>
                                        <dt>Total Amount</dt>
                                        <dd>@Math.Round(usr.bookingTotalAmount)</dd>
                                    </dl>
                                </div>
                                @{List<CLayer.Address> usersFor1 = BLayer.Bookings.GetBookedForUser(usr.BookingId);
                                    foreach (CLayer.Address usr2 in usersFor1)
                                    {
                                        <div class=" col-lg-4">

                                            <b>Guest Details</b>  <br />
                                            @usr2.Firstname,
                                            @usr2.AddressText,
                                            @usr2.City ,
                                            @usr2.StateName ,
                                            @usr2.Country ,@usr2.ZipCode.
                                            Phone:@usr2.Phone    @usr2.Mobile.
                                            Email:@usr2.Email
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-6  left">
                                    <dl>
                                        <dt>Reason for Rejection:</dt>
                                        <dd>@usr.RejectionNote</dd>
                                    </dl>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2  rightalign">

                                            @if (DateTime.Today >= usr.CheckOut)
                                            {
                                                <a href="@Url.Action("IndexSave","Review")?idb=@usr.BookingId&idp=@usr.PropertyId" id="reviewadd" title="Review" class="btn btn-default ordhist_btn" style="display:none ">Add Review</a>
                                            }

                                            @*<a href="@Url.Action("ViewBill","Booking")?id=@usr.BookingId" title="Print" class="btn btn-info"> View Reservation </a>
                            <a href="#" class="btn btn-info" onclick="showInvoice(@usr.BookingId)">Invoice</a>*@
                                            @*<a href="javascript:void(0)" title="Approve" class="btn btn-info" onclick="ApproveOrRejectBookings(@usr.booking_approval_id,@usr.BookingId ,@usr.Approver_id  ,'','@usr.CreatedDate',@usr.approval_order,@usr.approval_status,'@usr.approvalstatus')" style="display:none"> Approve </a>
                            <a href="javascript:void(0)" class="btn btn-info" title="Reject" onclick="ApproveOrRejectBookings(@usr.booking_approval_id,@usr.BookingId ,@usr.Approver_id  ,'','@usr.CreatedDate',@usr.approval_order,3,3)" style="display:none">Reject</a>*@

                                            @{
                                                int gateway = BLayer.Transaction.getGatewaytypebybookid(usr.BookingId);
                                            }

                                            @if (gateway != (int)CLayer.ObjectStatus.Gateway.PayPal)
                                            {

                                                if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.FullPayment)
                                                {
                                                    if (usr.CheckIn > DateTime.Today && (usr.BookingStatus == (int)CLayer.ObjectStatus.BookingStatus.Success))
                                                    {
                                                        <a href="#" id="Modify@(usr.BookingItemId)" title="Modify" class="btn  btn-default ordhist_btn" onclick="callModify(@usr.BookingId)"> Modify </a>
                                                        <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger ordhist_btn" onclick="callCancel(@usr.BookingId)"> Cancel</a>
                                                    }
                                                }
                                                if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.PartialPayment)
                                                {
                                                    if (usr.CheckIn > DateTime.Today && (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess) && (usr.BookingStatus == (int)CLayer.ObjectStatus.BookingStatus.Success))
                                                    {
                                                        <a href="#" id="Modify@(usr.BookingItemId)" title="Modify" class="btn  btn-default ordhist_btn" onclick="callModify(@usr.BookingId)"> Modify </a>
                                                        <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger ordhist_btn" onclick="callCancel(@usr.BookingId)"> Cancel</a>
                                                    }
                                                    if (usr.CheckIn > DateTime.Today && (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess && (usr.BookingStatus == (int)CLayer.ObjectStatus.BookingStatus.Success)))
                                                    {
                                                        <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger ordhist_btn" onclick="callCancel(@usr.BookingId)"> Cancel</a>
                                                    }
                                                }
                                            }



                                            @if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.PartialPayment && (usr.BookingStatus == (int)CLayer.ObjectStatus.BookingStatus.Success))
                                            {

                                                if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess || PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentFailed)
                                                {
                                                    <a class="btn btn-danger ordhist_btn" title="Make Pending Payment" href="@Url.Action("PartialPayment", "Booking", new { bookingId = usr.BookingId })">Pending Payment</a>
                                                }
                                            }

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                            <thead>
                                                <tr>
                                                    <th>Accommodation</th>
                                                    <th>CheckIn</th>
                                                    <th>Check out</th>
                                                    <th>Quantity</th>
                                                    <th>Adults</th>
                                                    <th>Children</th>
                                                    <th>Guests</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    // List<CLayer.BookingItem> Acdt = BLayer.BookingItem.GetAllDetailsForPartialPay(usr.BookingId);
                                                    List<CLayer.BookingItem> Acdt = new List<CLayer.BookingItem>();
                                                    long PropertyId = BLayer.Bookings.GetPropertyId(usr.BookingId);
                                                    int InventoryAPIType = BLayer.Property.GetInventoryAPITypeId(PropertyId);
                                                    if (InventoryAPIType == (int)CLayer.ObjectStatus.InventoryAPIType.Amadeus)
                                                    {
                                                        Acdt = BLayer.BookingItem.GetAllDetails(usr.BookingId, true);
                                                    }

                                                }
                                                @foreach (CLayer.BookingItem dt in Acdt)
                                                {
                                                    <tr>
                                                        <td>@dt.AccommodationTitle</td>
                                                        <td>@dt.CheckIn.ToShortDateString()</td>
                                                        <td>@dt.CheckOut.ToShortDateString()</td>
                                                        <td>@dt.quantity</td>
                                                        <td>@dt.NoOfAdults</td>
                                                        <td>@dt.NoOfChildren</td>
                                                        <td>@dt.NoOfGuests</td>
                                                        <td>@Math.Round(dt.TotalAmount)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>


                                        @if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.PartialPayment)
                                        {
                                            <h4 class="bold">Partial Payment Details</h4>
                                            <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                                <thead>
                                                    <tr>
                                                        <th>Partial Payment Percentage</th>
                                                        <th>Partial Payment First Installment</th>
                                                        <th>Partial Payment Second Installment</th>
                                                        <th>Partial Payment Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@usr.PartialPaymentPercentage</td>
                                                        <td>@usr.PaymentFirstinstallment</td>
                                                        <td>@usr.PaymentSecondinstallment</td>
                                                        <td>
                                                            @{
                                                                int statusid = usr.PartialPaymentStatus;
                                                                if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.Cart)
                                                                {
                                                                    <text>Cart</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.CheckOut)
                                                                {
                                                                    <text>CheckOut</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentFailed)
                                                                {
                                                                    <text>First Installment Payment Failed</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess)
                                                                {
                                                                    <text>First Installment  Paid</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentFailed)
                                                                {
                                                                    <text>Second Installment Payment Failed</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess)
                                                                {
                                                                    <text>Fully Paid</text>
                                                                }
                                                                else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.BookingCancel)
                                                                {
                                                                    <text>Booking Cancelled</text>
                                                                }
                                                            }

                                                        </td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                                                }


                                        @if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.CorporateCreditBooking)
                                        {
                                            long BuserId = BLayer.Bookings.GetBookedByUserId(usr.BookingId);
                                            CLayer.B2B Creditbookingdata = new CLayer.B2B();
                                            if (role == CLayer.Role.Roles.Corporate)
                                            {
                                                Creditbookingdata = BLayer.B2B.GetbookingcreditforCorte(BuserId);
                                            }
                                            else
                                            {
                                                Creditbookingdata = BLayer.B2B.GetbookingcreditforCorporateUser(BuserId);
                                            }
                                            <h4 class="bold">Corporate Credit Booking Details</h4>
                                            <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                                <thead>
                                                    <tr>
                                                        <th>Total Amount booked by Corporate</th>
                                                        <th>Credit Limit Total</th>
                                                        <th>Credit Limit Balance</th>
                                                        <th>Payments Due</th>
                                                        <th>Date Due</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@usr.bookingTotalAmount</td>
                                                        <td>@Creditbookingdata.TotalCreditAmount</td>
                                                        <td>@Creditbookingdata.CreditAmount</td>
                                                        <td>
                                                            @if (Creditbookingdata.CreditAmount < 0)
                                                            { <text> YES </text> }
                                                            else
                                                            { <text> NO </text> }
                                                        </td>
                                                        <td>@usr.BookingDate.AddDays(Creditbookingdata.CreditDays)</td>

                                                    </tr>

                                                </tbody>

                                            </table>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                                                            }
                                                        }
    </div>
                                                        }
                                                        else
                                                        {

                                                            <div class="row">
                                                                <div class="col-md-4 col-md-offset-4">
                                                                    <div class="alert alert-info">You don't have any rejected bookings.</div>
                                                                </div>
                                                            </div>

                                                        }

<script type="text/javascript">
    function showPager2(num) {
        $("#currentPage").val(num);
        var url = '@Url.Action("Pager","BookingApproval")';
        $.post(url, $("#frmPagers").serialize(), function (data) {
          //  $("#ResentList").html(data);
        });
    }
    function showInvoice(obid) {
        var p1 = 'scrollbars=yes,resizable=yes,status=yes,location=no,menubar=no';
        var p2 = 'width=1050,height=800';
        // window.open('Invoice/Preview?obid=' + obid, 'test', p1 + p2);
        window.open('/GDSInvoice/Preview?obid=' + obid, "resizable=no", "width=1000,height=800");
    }

   
    function ApproveOrRejectBookings(Booking_Approval_Id, BookingId, approver_id, approver, CreatedDate, approval_order, approval_status, approvalstatus) {
        debugger;
        $("#dvAlert").hide();
        $("#dvMessage").hide();

        var BookingApprovals = { 'Booking_Approval_Id': Booking_Approval_Id, 'BookingId': BookingId, 'approver_id': approver_id, 'approver': approver, 'CreatedDate': CreatedDate, 'approval_order': approval_order, 'approval_status': approval_status, 'approvalstatus': approvalstatus };


        $.ajax({
            url: '@Url.Action("Approve", "BookingApproval")',
            type: 'POST',
            data: JSON.stringify(BookingApprovals),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response.success) {
                    window.location = '@Url.Action("Index", "BookingApproval", ViewBag.Status)';
                    //if (response.responseText == "2") {

                    //    window.location = "/Continue/";
                    //}
                //    $("#dvMessage").show();
                //    $("#pMessage").html("Approved and sent mail to the next approver.Please proceed");
                }
                else {
                    $("#dvAlert").show();
                    $("#pError").html("Error in booking approval.Please try again..");
                }
            },
            error: function (response) {

            }

        });
    }
    $(document).ready(function () {
     //   alert('ready');
        var status = '@ViewBag.Status';
        if (status == "Approved")
        {
            $("#dvAlert").show();
        }
    });
</script>


