@model  StayBazar.Models.SearchSupplierModel
@{
    ViewBag.Title = "Supplier List";
    int SupplierList = Model.SearchList.Count;
    StayBazar.Lib.GridPager gp = new StayBazar.Lib.GridPager();
    gp.RowsInAPage = StayBazar.Controllers.SearchSupplierController.PAGELIMIT;
    gp.JavascriptFuncName = "showPager";
    
    Layout = null;
}
<div class="container bdy_min_height">

    @if (SupplierList > 0)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(gp.GetPager(Model.TotalRows, Model.CurrentPage))
                <table border="0" class="table table-condensed table-responsive table-custom">
                    <thead>
                        <tr>
                            <th>Buisiness Name</th>
                            <th>Email</th>
                            <th>View</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        @foreach (CLayer.B2B pr in Model.SearchList)
                        {
                            <tr>
                                <td>@pr.Name</td>
                                <td>@pr.Email</td>
                                <td><a href="/SupplierEdit/Details/@pr.B2BId" title="Details"><span class="glyphicon glyphicon-arrow-right"></span></a></td> 
                                <th><a href="~/SearchSupplier/AddSupplier?UserId=@pr.B2BId"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Raw(gp.GetPager(Model.TotalRows, Model.CurrentPage))
            </div>
        </div>
        @Html.HiddenFor(m => m.SearchString, new { @id = "SearchString" })
    }
    else
    {
        <div class="row margin-top-10">
            <div class="col-md-4 col-md-offset-4 margin-top-10">
                <div class="alert alert-info">Selected supplier is already linked to another affiliate/Not found in list</div>
            </div>
        </div>
    }
</div>





