@{
    Layout = null;
    StayBazar.Lib.GridPager gp = new StayBazar.Lib.GridPager();
    gp.JavascriptFuncName = "showPager";
    gp.ColumnsInPager = 8;
    gp.RowsInAPage = 25;
}
@*@{
    StayBazar.Areas.Admin.Models.OfferModel filterform = (StayBazar.Areas.Admin.Models.OfferModel)ViewBag.Filter;
    using (Html.BeginForm("Pager", "Offer", FormMethod.Post, new { area = "Admin", @id = "frmPagerspptlist" }))
    {
        <input type="hidden" id="currentPage" name="currentPage" value="@filterform.currentPage" />
        <input type="hidden" id="Limit" name="Limit" value="@filterform.Limit" />
    }
    gp.RowsInAPage = filterform.Limit;
}
@if (Model != null && Model.offerlist.Count() > 0)
{
    @Html.Raw(gp.GetPager((int)filterform.TotalRows, filterform.currentPage))
}*@
<table class="table table-hover table-condensed table-responsive table-striped table-custom">
    <thead>
        <tr>
            <th>Select</th>
            <th>Title</th>
            <th>Location</th>
            <th>State</th>
            <th>City</th>
            <th>Owner name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Accommodations.Count > 0)
        {
            foreach (CLayer.Accommodation usr in Model.Accommodations)
            {
                <tr>               
                    <td><input type="checkbox" id="chk1_@usr.PropertyId" class="chkproperty" value="@usr.PropertyId" /></td>
                    <td>@usr.PropertyTitle</td>
                    <td>@usr.Location</td>                    
                    <td>@usr.Statename</td>
                    <td>@usr.City</td>
                    <td>@usr.Ownername</td>
                    <td><a href="~/Admin/Offer/DeleteProperty/?PropertyId=@usr.PropertyId" onclick="return confirm('Are you sure you want to delete this Property?')"><span class="glyphicon glyphicon-remove"></span></a></td> 
                </tr>
                             @*<script type="text/javascript">

                            $('#chk@(usr.PropertyId)').attr("checked", true);
    </script>*@
            }

        }
        else
        {
            <tr>
                <td>No data found</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">


    $(document).ready(function () {
        $('.chkproperty').click(function () {
            getpropeIds();
        });

    });


</script>



<script type="text/javascript">
    function showPager(num) {
        $("#currentPage").val(num);
        var url = '@Url.Action("Pager", "OfferList", new { area = "Admin" })';
        var pSearchString = $("#SearchString").val();
        var pcurrentPage = $("#currentPage").val();
        var pLimit = $("#Limit").val();
        var pSearchValue = $("#SearchValue").val();
        var pStatus = $("#Status").val();
        alert(pSearchString + " " + pcurrentPage + " " + pLimit + " " + pSearchValue + " " + pStatus);
        $.post(url, { SearchString:pSearchString, currentPage: pcurrentPage,Limit:pLimit,SearchValue:pSearchValue,Status:pStatus }, function (data) {
            // $.post(url, $("#frmPagerspptlist").serialize(), function (data) {
            $("#gridList").html(data);
        });
    }
</script>  