@model StayBazar.Areas.Admin.Models.OfflineBookingModel

@{
    ViewBag.Title = "NewCostCentre";
}

@using (Html.BeginForm("SaveCostCentreDetails", "OfflineBookingGST", FormMethod.Post, new { enctype = "multipart/form-data", id = "OfflineBookingId" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.OfflineBookingId)
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <table>
                    <tr>

                        <td>
                            @Html.Label("Cost Centre")
                        </td>
                        <td style="padding-left:10px">
                            @{
                                List<CLayer.CostCentre> CostCentrecode = BLayer.CostCentre.GetAll();

                            }

                            @Html.DropDownListFor(m => m.CostCenter_Codee, Model.ECostCentre, "--Select--", new { @class = "form-control" })

                        </td>


                        <td style="padding-left:10px">
                            <label class="highlight">%</label>
                        </td>
                        <td style="padding-left:10px">
                            @Html.TextBoxFor(m => m.CostCentrePercentage, new { @class = "form-control", @maxlength = "100" })
                            @Html.ValidationMessageFor(m => m.CostCentrePercentage, "", new { @class = "text-danger" })
                        </td>
                        <td style="padding-left:10px">
                            <button type="submit" class="btn btn-success">Save</button>
                        </td>
                        <td style="padding-left:10px">
                            <a href="~/Admin/OfflineBookingGST/BookingDetailsPreview?OfflineBookId=@Model.OfflineBookingId" id="btnReset" class="btn btn-info" tabindex="24">Continue</a>
                        </td>
                    </tr>
                    


                </table>
                <table >
                    <tr>
                        <td style="padding-top:20px;">
                            <p class="text-danger">
                                @TempData["Message"]
                            </p>
                        </td>
                    </tr>
                </table>
                    
               
            </div>
            
            <div class="col-md-3"></div>
        </div>

    </div>
}

@Html.HiddenFor(m => m.CostCentre_ID)
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">Details Of CostCentre</h3>
        <br />
        <table class="table table-bordered table-hover">
            <tr style="background-color:steelblue;color:white">
                <th style="width:100px" class="text-center">CostCentre</th>
                <th style="width:100px" class="text-center">Percentage</th>
                <th style="width:100px" class="text-center">Delete</th>
                <th style="width:100px" class="text-center">Edit</th>
            </tr>

            @foreach (CLayer.OfflineBooking dt in Model.costcentre)
            {
                if (Model.costcentre.Count > 0)
                {
                    <tr>
                        <td style="width:100px" class="text-center">@dt.CostCentreID_Name</td>
                        <td style="width:100px" class="text-center">@dt.CostCentrePercentage</td>
                        <td style="width:100px" class="text-center">
                            @Html.ActionLink("Delete", "DeleteCostCentreDetils", "OfflineBookingGST", new { id = dt.CostCentre_ID, id1 = dt.OfflineBookingId }, new { onclick = "return confirm('Are you sure u want to delete?');" })
                        </td>
                        <td style="width:100px" class="text-center">
                            @Html.ActionLink("Edit", "EditCostCentreDetails", "OfflineBookingGST", new { OfflineBookingId = dt.OfflineBookingId, CostCentreId = dt.CostCentre_ID }, null)
                        </td>
                    </tr>
                }
            }

        </table>
       
    </div>
    <div class="col-md-3"></div>
</div>




