@model StayBazar.Areas.Admin.Models.ReportRoomInventoryModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Filter", "ReportRoomInventory", FormMethod.Post, new { @id = "frmFiltersReportRoomInventory" }))
        {
            <div class="row">
                <div class="col-md-2">
                    @*<div class="form-group">*@
                        @Html.LabelFor(m => m.FromDate)
                        @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", Title = "From Date" })
                    @*</div>*@
                </div>
                <div class="col-md-2">
                    @*<div class="form-group">*@
                        @Html.LabelFor(m => m.ToDate)
                        @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", Title = "To Date" })
                    @*</div>*@
                </div>
                <br />
                <div class="col-md-4">
                    @*<br />*@
                    <div class="form-control">
                    @foreach (StayBazar.Areas.Admin.Models.ReportRoomInventoryModel.RoomInventorySearchValue ruv in (StayBazar.Areas.Admin.Models.ReportRoomInventoryModel.RoomInventorySearchValue[])Enum.GetValues(typeof(StayBazar.Areas.Admin.Models.ReportRoomInventoryModel.RoomInventorySearchValue)))
                    {
                        //ReportRoomInventory
                        <input type="radio" name="ruv" class="css-radiobutton" id="@((int)ruv)" @if ((int)ruv == 1) { <text> &nbsp;&nbsp;</text> } />
                        <label for="@((int)ruv)" class="css-label">@ruv.ToString()</label>
                        <text></text>
                    }
                </div>
                </div>
                
                <div class="col-md-2">
                    @*<br />*@
                    <div class="input-group ">
                        @Html.TextBoxFor(m => m.SearchString, new { @tabindex = "2", @class = "form-control" })
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-default" type="button" tabindex="3">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
          
                <div class="col-md-2 exporticons exportmenu">
                    <a title="Print" href="#" onclick="printDoc()" id="btnNextClick" class="fa fa-print white-color fa-2x"> </a>
                    <a title="Pdf" href="#" onclick="PDF()" id="btnNextClick" class="fa fa-file-pdf-o"></a>
                    <a title="Export" onclick="Export()" id="btnNextClick" class="fa fa-file-excel-o"></a>
                </div>
                
            </div>
            @Html.HiddenFor(m => m.SearchValue)
        }
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //$('#FromDate').datepicker({
        //    dateFormat: "dd/mm/yy"
        //});
        //$('#ToDate').datepicker({
        //    dateFormat: "dd/mm/yy"
        //});
        $('#FromDate').datepicker(
           {
               dateFormat: "dd/mm/yy"
           });
        $('#ToDate').datepicker(
            {
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                beforeShow: function () {
                    $(this).datepicker('option', 'minDate', $('#FromDate').val());
                    if ($('#FromDate').val() === '') $(this).datepicker('option', 'minDate', 0);
                }
            });
    });

    $(function () {
        $("#SearchValue").val("1");
        $(".css-radiobuttonReportRoomInventory").change(function () {
            $("#SearchValue").val("1");
            $(".css-radiobuttonReportRoomInventory").each(function () {
                if (this.checked) {
                    // alert($(this).attr("id"));
                    $("#SearchValue").val($(this).attr("id"));
                }
            });
        });
    });
    $("#btnSearch").click(function () {
        var url = '@Url.Action("Filter","ReportRoomInventory",new { area ="Admin"})';
        // alert("hai");
        $.post(url, $("#frmFiltersReportRoomInventory").serialize(),
                function (data) {
                    $("#ReportRoomInventory").html(data);
                });
    });
    function Export() {
        var pSearchString = $("#SearchString").val();
        var pSearchValue = $("#SearchValue").val();
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        window.location = '@Url.Action("ExcelReport", "ReportRoomInventory", new { area = "Admin" })?' + "SearchString=" + pSearchString + "&" + "SearchValue=" + pSearchValue + "&" + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        //window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
    function PDF() {
        var pSearchString = $("#SearchString").val();
        var pSearchValue = $("#SearchValue").val();
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        var url = '@Url.Action("ReportPdf", "ReportRoomInventory")?' + "SearchString=" + pSearchString + "&" + "SearchValue=" + pSearchValue + "&" + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }

    function printDoc() {
        var pSearchString = $("#SearchString").val();
        var pSearchValue = $("#SearchValue").val();
        var pfromdate = $("#FromDate").val();
        var pToDate = $("#ToDate").val();
        var pLimit = $("#Limit").val();
        var pcurrentPage = $("#currentPage").val();
        var url = '@Url.Action("ReportPrint", "ReportRoomInventory")?' + "SearchString=" + pSearchString + "&" + "SearchValue=" + pSearchValue + "&" + "FromDate=" + pfromdate + "&" + "ToDate=" + pToDate + "&" + "Limit=" + pLimit + "&" + "currentPage=" + pcurrentPage;
        window.open(url, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
</script>