
@{
    ViewBag.Title = "Import Booking Modification Data";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="page-title-container style3">
        <div class="row">

            <div class="col-md-6">
                <h2 style="color:white">@ViewBag.Title</h2>
            </div>

            <div class="col-sm-6">

                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ExcelImport", "Index", "ExcelImport", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Booking", "Import_BookingData", "BookingImport", new { area = "Admin" }, new { })</li>
                        <li class="active">@Html.ActionLink("BookingModification", "Import_BookingModificationData", "BookingModificationImport", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Cancellation", "Import_CancellationData", "CancellationImport", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("CustomerMaster", "Import_CustomerMasterData", "CustomerMasterImport", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("SupplierMaster", "Import_SupplierMasterData", "SupplierMasterImport", new { area = "Admin" }, new { })</li>
                    </ul>

                </nav>
            </div>
        </div>
</div>
    <div class="container-fluid">
        <div class="jumbotron">
            <div>
                <h6 class="text-center"><i class="fa fa-hand-o-right green-color"></i> @Html.ActionLink("Click here to download a Booking Modification Excel Sheet", "DownloadFile", "BookingModificationImport", new { area = "Admin" }, new { })</h6>
                @using (Html.BeginForm("Import_BookingModificationData", "BookingModificationImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*<h2></h2>*@
                    <br />
                    <input type="file" name="file" />
                    <br />
                    <input type="submit" value="Submit" class="btn btn-success" />
                    @Html.ActionLink("Display Data", "DisplayBookingModificationData", "BookingModificationImport", new { area = "Admin" }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Save Data", "SaveRecord_of_BookingData", "BookingImport", new { area = "Admin" }, new { @class = "btn btn-primary" })*@
                }
            </div>
        </div>
    </div>

