@model StayBazar.Areas.Admin.Models.GDSTransactionLogModel 
@{
    ViewBag.Title = "Index";
}

<h2>GDS Transactions log</h2>

<div class="col-md-12">
    <table class="table table-hover table-condensed table-responsive table-striped table-custom">
        <thead>
            <tr>
                <th>GDS ID</th>
                <th>BookingID</th>
                <th>Created At</th>
                <th>GDSTypeValue</th>
                <th>GDSRequest</th>
                <th>GDSResult</th>
                <th>GDSError</th>
                <th>GDSErrorMessage</th>
                <th>UserID</th>
                <th>GDSTransID</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.GDSTransactionsLog.Count() > 0)
            {
                foreach (var item in Model.GDSTransactionsLog.ToList())
                {
                    <tr>
                        <td>@item.GDSID</td>
                        <td>@item.BookingID</td>
                      
                        <td>
                           
                                @Convert.ToDateTime(item.CreatedAt).ToString("dd-MMM-yyyy HH:mm:ss.fff", System.Globalization.CultureInfo.InvariantCulture);
                   
                        </td>
                        <td>@item.GDSTypeValue</td>
                        <td><textarea>@item.GDSRequest</textarea></td>
                        <td><textarea>@item.GDSResult</textarea></td>
                        <td><textarea> @item.GDSError</textarea></td>
                        <td>@item.GDSErrorMessage</td>
                        <td>@item.UserID </td>
                        <td>@item.GDSTransID </td>
                        <td>                         
                        </td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



