@model StayBazar.Areas.Admin.Models.PaymentListToCustomerModel
@{
    ViewBag.Title = "Send Payment Link to Customer";
}
@*<div id="content">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">*@

<div class="page-title-container style3">
    <div class="row">
        <div class="col-md-6">
            <h2 style="color:white">@ViewBag.Title</h2>
        </div>
        @*@using (Html.BeginForm("Filter", "PaymentListToCustomer", FormMethod.Post, new { @id = "frmFilters" }))
            {*@
        <div class="row">
            <div class="col-md-6">
                <label>Customer Name</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.SearchString, new { @tabindex = "2", @class = "form-control", @id = "searchstring" })
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-default" type="submit" tabindex="3">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            @*<div class="col-md-6" style="padding-top:30px">
                    @foreach (StayBazar.Areas.Admin.Models.PaymentListToCustomerModel.RegularUserValues ruv in (StayBazar.Areas.Admin.Models.PaymentListToCustomerModel.RegularUserValues[])Enum.GetValues(typeof(StayBazar.Areas.Admin.Models.PaymentListToCustomerModel.RegularUserValues)))
                    {
                        <input type="radio" name="ruv" class="css-radiobutton" id="@((int)ruv)" @if ((int)ruv == 1) { <text> checked </text> } />
                        <label for="@((int)ruv)" class="css-label">@ruv.ToString()</label>
                        <text>&nbsp;&nbsp;</text>
                    }
                </div>*@
        </div>
        @*@Html.HiddenFor(m => m.SearchValue)*@
        @*}*@
        @*<hr />*@
    </div>
</div>
 <div class="container-fluid">
            <div id="list" class="row">
                @{
                    Html.RenderPartial("~/Areas/Admin/Views/PaymentListToCustomer/_List.cshtml", Model.userlist);
                }
            </div>
        </div>


@*</div>*@
<script type="text/javascript" language="javascript">


    $(function () {
        $("#btnSearch").click(function () {

            var url = '@Url.Action("Filter", "PaymentListToCustomer")?SearchString=' + $("#searchstring").val();
            $.post(url, $("#frmFilters").serialize(),
                    function (data) {
                        $("#list").html(data);
                    });
        });
    });
</script>


