@model StayBazar.Areas.Admin.Models.PropertyTypeModel
@{
    Layout = null;
}
@using (Html.BeginForm("Edit", "PropertyType"))
{
    <h2>Property Type</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.DisplayNameFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @tabindex = "1", @class = "form-control input-sm" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="btn-toolbar">
        <div class="btn-group">
            <input type="submit" id="btnSave" value="Save" class="btn btn-default" tabindex="3" />
            <a href="~/Admin/PropertyType" id="btnReset" class="btn btn-danger" tabindex="4">Cancel</a>
        </div>
    </div>
    @Html.HiddenFor(m => m.PropertyTypeId)
    <script type="text/javascript">
        $(function () {
            $("#Title").focus();
        });
    </script>
}
