@model StayBazar.Areas.Admin.Models.OfflineBookingModel
@{
    Layout = null;

}
<div class="col-md-12 margin-bot-10">
    <div class="col-md-5">
        <h4>
            Buy Price :
        </h4>

        <div class="form-group">
            @Html.LabelFor(m => m.AvgDailyRateBefreStaxForBuyPrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.AvgDailyRateBefreStaxForBuyPrice, new {  @class = "form-control input-sm", @onchange = "onchangestaxbuyprice()" })
            @Html.ValidationMessageFor(m => m.AvgDailyRateBefreStaxForBuyPrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StaxForBuyPrice) <span class="bold">( % )</span> <span style="color:red">*</span>
            @Html.TextBoxFor(m => m.StaxForBuyPrice, new { @class = "form-control input-sm", @onchange = "onchangestaxbuyprice()" })
            @Html.ValidationMessageFor(m => m.StaxForBuyPrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalAmtForBuyPrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalAmtForBuyPrice, new {  @class = "form-control input-sm", @onchange = "onchangetotalbuyprice()" })
            @Html.ValidationMessageFor(m => m.TotalAmtForBuyPrice)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BuyPriceforotherservicesForBuyprice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.BuyPriceforotherservicesForBuyprice, new { @class = "form-control input-sm", @onchange = "onchangestaxbuyprice()" })
            @Html.ValidationMessageFor(m => m.BuyPriceforotherservicesForBuyprice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StaxForotherBuyPrice) <span class="bold">( % )</span> <span style="color:red">*</span>
            @Html.TextBoxFor(m => m.StaxForotherBuyPrice, new {  @class = "form-control input-sm", @onchange = "onchangestaxbuyprice()" })
            @Html.ValidationMessageFor(m => m.StaxForotherBuyPrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalAmtotherForBuyPrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalAmtotherForBuyPrice, new {  @class = "form-control input-sm", @onchange = "onchangetotalbuyprice()" })
            @Html.ValidationMessageFor(m => m.TotalAmtotherForBuyPrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalBuyPrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalBuyPrice, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.TotalBuyPrice)
        </div>


    </div>
    <div class="col-md-5">
        <h4>
            Sale Price  :
        </h4>
        <div class="form-group">
            @Html.LabelFor(m => m.AvgDailyRateBefreStaxForSalePrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.AvgDailyRateBefreStaxForSalePrice, new {  @class = "form-control input-sm", @onchange = "onchangestaxsaleprice()" })
            @Html.ValidationMessageFor(m => m.AvgDailyRateBefreStaxForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StaxForSalePrice) <span class="bold">( % )</span> <span style="color:red">*</span>
            @Html.TextBoxFor(m => m.StaxForSalePrice, new { @class = "form-control input-sm", @onchange = "onchangestaxsaleprice()" })
            @Html.ValidationMessageFor(m => m.StaxForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalAmtForSalePrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalAmtForSalePrice, new {  @class = "form-control input-sm", @onchange = "onchangetotalsaleprice()" })
            @Html.ValidationMessageFor(m => m.TotalAmtForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BuyPriceforotherservicesForSalePrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.BuyPriceforotherservicesForSalePrice, new {@class = "form-control input-sm", @onchange = "onchangestaxsaleprice()" })
            @Html.ValidationMessageFor(m => m.BuyPriceforotherservicesForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StaxForotherForSalePrice) <span class="bold">( % )</span> <span style="color:red">*</span>
            @Html.TextBoxFor(m => m.StaxForotherForSalePrice, new {  @class = "form-control input-sm", @onchange = "onchangestaxsaleprice()" })
            @Html.ValidationMessageFor(m => m.StaxForotherForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalAmtotherForSalePrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalAmtotherForSalePrice, new { @class = "form-control input-sm", @onchange = "onchangetotalsaleprice()" })
            @Html.ValidationMessageFor(m => m.TotalAmtotherForSalePrice)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TotalSalePrice)<span style="color:red">*</span>
            @Html.TextBoxFor(m => m.TotalSalePrice, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.TotalSalePrice)
        </div>

    </div>
</div>