@model IEnumerable<CLayer.Booking>
@{
    Layout = null;
    StayBazar.Lib.GridPager gp = new StayBazar.Lib.GridPager();
    gp.JavascriptFuncName = "showPager";
    gp.ColumnsInPager = 8;
    gp.RowsInAPage = 25;
}
<div class="body-content">
    @if (Model.Count() == 0)
    {

        <div class="alert alert-info">Data not found</div>
    }
    <div class="panel-group" id="accordion">
        @{
            long i = 0;

        }
        @{
            StayBazar.Areas.Admin.Models.TransactionsModel filterform = (StayBazar.Areas.Admin.Models.TransactionsModel)ViewBag.Filter;
            using (Html.BeginForm("Pager", "PartialPaymentBookings", FormMethod.Post, new { @id = "frmPagers" }))
            {
                <input type="hidden" id="Status" name="Status" value="@filterform.Status" />
                <input type="hidden" id="SearchString" name="SearchString" value="@filterform.SearchString" />
                <input type="hidden" id="SearchValue" name="SearchValue" value="@filterform.SearchValue" />
                <input type="hidden" id="currentPage" name="currentPage" value="@filterform.currentPage" />
                <input type="hidden" id="Limit" name="Limit" value="@filterform.Limit" />
            }
            gp.RowsInAPage = filterform.Limit;
        }

        @if (Model != null && Model.Count() > 0)
        {
            @Html.Raw(gp.GetPager((int)filterform.TotalRows, filterform.currentPage))
        }
        @foreach (CLayer.Booking usr in Model)
        {

            long Paymentoption = BLayer.Bookings.GetPaymentoption(usr.BookingId);
            long Gatewaytype = BLayer.Bookings.Getgatewaytype(usr.BookingId);
            CLayer.ObjectStatus.PartialPaymentStatus PartialPayStatus = BLayer.Bookings.GetPartialPaymentStatus(usr.BookingId);


            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" class="blacktext " data-parent="#accordion" href="#i_@usr.BookingId">
                        <div class="row">
                            <div class="col-md-2 ">
                                <span></span>Date:@usr.BookingDate.ToShortDateString()
                            </div>
                            <div class="col-md-2">Confirmation No:@usr.OrderNo </div>
                            <div class="col-md-3">  Location: @usr.propertyLocation </div>

                            @if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess)
                            {

                                <div class="col-md-3 ">Payment Status: Fully Paid</div>
                            }
                            @if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess)
                            {

                                <div class="col-md-3 ">Payment Status: First Amount Paid</div>
                            }
                            @if (Gatewaytype == (int)CLayer.ObjectStatus.Gateway.EBS)
                            {
                                <div class="col-md-2">Gateway Type: EBS</div>
                            }
                            @if (Gatewaytype == (int)CLayer.ObjectStatus.Gateway.PayPal)
                            {
                                <div class="col-md-2">Gateway Type: PayPal</div>
                            }


                        </div>
                    </a>
                    @*</h3>*@
                </div>
                <div id="i_@usr.BookingId" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <b>Supplier Details</b><br />
                                Title:@usr.PropertyTitle<br />
                                Name:  @usr.FirstName <br />
                                @*Last Name: @usr.LastName<br />*@
                                Address:@usr.Address<br />
                                City:@usr.City<br />
                                State: @usr.StateName<br />
                                Country:@usr.CountryName<br />
                                Phone:@usr.Phone,@usr.Mobile<br />
                                Email:@usr.Email<br />
                            </div>
                            <div class="col-md-2">
                                <b>Booking Details</b>
                                Confirmation No:@usr.OrderNo <br />
                                Booking Date:  @usr.BookingDate.ToShortDateString()<br />
                                Property Address: @usr.propertyAddress<br />


                                @{
            if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess)
            {

                <text>Status: Success</text>
            }
            else if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess)
            {

                <text>Status: First Amount Paid</text>
            }

            else if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.BookingCancel)
            {

                <text>Status: Cancelled</text>
            }
            else if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentFailed)
            {

                <text>Status: Initial Payment Failed</text>
            }
            else if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentFailed)
            {

                <text>Status: Second Payment Failed</text>
            }

                                }
                                <br />
                                Total  Amount: @usr.bookingTotalAmount<br />
                            </div>
                            <div class="col-md-3" id="databuyer_@usr.BookingId">
                                <a id="i1_@usr.BookingId" href="#" onclick="BuyerBT(@usr.BookingId)">
                                    Show Buyer Address
                                    <div id="loading1_@usr.BookingId"></div>
                                </a>
                            </div>
                            <div class="col-md-2" id="DataFor_@usr.BookingId">
                                <a id="i2_@usr.BookingId" href="#" onclick="ForBuyerBT(@usr.BookingId)">
                                    Show For Buyer Address
                                    <div id="loading2_@usr.BookingId"></div>
                                </a>
                            </div>
                            <div class="col-md-1">


                                @*@if (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess)
                                    {
                                        <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger" onclick="callCancel(@usr.BookingId)">
                                            Cancel
                                        </a>
                                    }*@


                            </div>
                        </div>
                        <div class="row">
                            @if (System.DateTime.Today <= usr.CheckIn)
                            {
                                <div class="col-md-12 margin-bot-10 margin-top-10 rightalign">
                                    @if (Paymentoption == (int)CLayer.ObjectStatus.PaymentOption.PartialPayment && (usr.BookingStatus == (int)CLayer.ObjectStatus.BookingStatus.Success))
                                    {
                                        if (usr.CheckIn > DateTime.Today && (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess))
                                        {
                                            @*<a href="#" id="Modify@(usr.BookingItemId)" title="Modify" class="btn  btn-default ordhist_btn" onclick="callModify(@usr.BookingId)"> Modify </a>*@
                                            <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger ordhist_btn" onclick="callCancel(@usr.BookingId)"> Cancel</a>
                                        }
                                        if (usr.CheckIn > DateTime.Today && (PartialPayStatus == CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess))
                                        {
                                            <a href="#" id="status@(usr.BookingItemId)" title="Edit" class="btn btn-danger ordhist_btn" onclick="callCancel(@usr.BookingId)"> Cancel</a>
                                            @*<input type="button" class="btn btn-default" value="Restore Booking" onclick="showRestore(@usr.BookingId)" />*@
                                        }
                                    }
                                    <a href="#" id="status@(usr.BookingItemId)" title="Resendemail" class="btn btn-success" onclick="ResendemailC(@usr.BookingId)">
                                        Resend email to customer
                                    </a>

                                    <a href="#" id="status@(usr.BookingItemId)" title="Resendsms" class="btn btn-success marginleft10" onclick="ResendsmsC(@usr.BookingId)">
                                        Resend SMS to customer
                                    </a>


                                    <a href="#" id="status@(usr.BookingItemId)" title="Resendemail" class="btn btn-success marginleft10" onclick="ResendemailS(@usr.BookingId)">
                                        Resend email to supplier
                                    </a>


                                    <a href="#" id="status@(usr.BookingItemId)" title="Resendsms" class="btn btn-success marginleft10" onclick="ResendsmsS(@usr.BookingId)">
                                        Resend SMS to supplier
                                    </a>

                                </div>
                            }
                        </div>

                        <div class="row">
                            <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                <thead>
                                    <tr>
                                        <th>Accommodation</th>
                                        <th>CheckIn</th>
                                        <th>Check out</th>
                                        <th>Quantity</th>
                                        <th>Adults</th>
                                        <th>Children</th>
                                        <th>Guests</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
            List<CLayer.BookingItem> Acdt = BLayer.BookingItem.GetAllDetailsForPartialPay(usr.BookingId);

                                    }
                                    @foreach (CLayer.BookingItem dt in Acdt)
                                    {
                                        <tr>
                                            <td>@dt.AccommodationTitle</td>
                                            <td>@dt.CheckIn.ToShortDateString()</td>
                                            <td>@dt.CheckOut.ToShortDateString()</td>
                                            <td>@dt.quantity</td>
                                            <td>@dt.NoOfAdults</td>
                                            <td>@dt.NoOfChildren</td>
                                            <td>@dt.NoOfGuests</td>
                                            <td>@dt.TotalAmount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <h4 class="bold">Partial Payment Details</h4>
                            <table class="table table-hover table-condensed table-responsive table-striped table-custom">
                                <thead>
                                    <tr>
                                        <th>Partial Payment Percentage</th>
                                        <th>Partial Payment First Installment</th>
                                        <th>Partial Payment Second Installment</th>
                                        <th>Partial Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@usr.PartialPaymentPercentage</td>
                                        <td>@usr.PaymentFirstinstallment</td>
                                        <td>@usr.PaymentSecondinstallment</td>
                                        <td>
                                            @{
                                    int statusid = usr.PartialPaymentStatus;
                                    if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.Cart)
                                    {
                                        <text>Cart</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.CheckOut)
                                    {
                                        <text>CheckOut</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentFailed)
                                    {
                                        <text>First Installment Payment Failed</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.InitialPaymentSuccess)
                                    {
                                        <text>First Installment  Paid</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentFailed)
                                    {
                                        <text>Second Installment Payment Failed</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.SecondPaymentSuccess)
                                    {
                                        <text>Fully Paid</text>
                                    }
                                    else if (statusid == (int)CLayer.ObjectStatus.PartialPaymentStatus.BookingCancel)
                                    {
                                        <text>Booking Cancelled</text>
                                    }
                                            }

                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
</div>
@*if (Model != null && Model.Count() > 0)
    {
    @Html.Raw(gp.GetPager((int)filterform.TotalRows, filterform.currentPage))
    }*@

<script type="text/javascript">
    function showPager(num) {
        //alert('here is it ' + num);
        $("#currentPage").val(num);
        var url = '@Url.Action("Pager", "PartialPaymentBookings", new { area = "Admin" })';
        $.post(url, $("#frmPagers").serialize(), function (data) {
            $("#List").html(data);
        });
    }
    function ResendemailC(id) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailC", "PartialPaymentBookings")?bookingId=' + id;
            $.post(url, function (data) {

            });
        }
        else {
            return false
        }
    }
    function ResendemailS(id) {
        var r = confirm("Are you sure you want to resend confirmation mail? ")
        if (r == true) {
            var url = '@Url.Action("ResendemailS", "PartialPaymentBookings")?bookingId=' + id;
            $.post(url, function (data) {

            });
        }
        else {
            return false
        }
    }
    function ResendsmsC(id) {
        var r = confirm("Are you sure you want to resend confirmation sms? ")
        if (r == true) {
            var url = '@Url.Action("ResendsmsC", "PartialPaymentBookings")?bookingId=' + id;
            $.post(url, function (data) {

            });
        }
        else {
            return false
        }
    }
    function ResendsmsS(id) {
        var r = confirm("Are you sure you want to resend confirmation sms? ")

        if (r == true) {
            var url = '@Url.Action("ResendsmsS", "PartialPaymentBookings")?bookingId=' + id;
            $.post(url, function (data) {

            });
        }
        else {
            return false
        }
    }
    function Cancelbtn(Id) {
        var r = confirm("Are you sure you want to Cancel? ")
        // alert(Id);
        if (r == true) {
            $.post('@Url.Action("StatusCancel", "PartialPaymentBookings", new { area = "Admin" })', { BookingId: Id }, function (data) {

            });
        }
        else {
            return false
        }
    }
</script>



